@font-face {
    font-family: 'MuseoSansCyrl-500';
    src: url('assets/fonts/museosanscyrl-500-webfont.woff2') format('woff2'), url('assets/fonts/museosanscyrl-500-webfont.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl-700';
    src: url('assets/fonts/museosanscyrl-700-webfont.woff2') format('woff2'), url('assets/fonts/museosanscyrl-700-webfont.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl-900';
    src: url('assets/fonts/museosanscyrl-900-webfont.woff2') format('woff2'), url('assets/fonts/museosanscyrl-900-webfont.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
ol, ul {
    list-style: none;
}
/* tables still need cellspacing="0" in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
a {
    text-decoration: none;
}
a:hover, a:visited, a:active, a:focus {
    text-decoration: none !important;
}

.left {
    float: left;
    margin: 8px 0px;
}
.right {
    float: right;
}


html, body {
    height: 100%;
    font-size: 14px;
    font-family: 'MuseoSansCyrl-500',sans-serif;
}

body {
    background: url(/assets/images/back_pattern_400x400.jpg) left top repeat;
}

.main {
    position: relative;
    min-width: 1280px;
    min-height: 630px;
    margin: 0 auto;
    height: 100%;
}
.main:after {
    clear: both;
    content: '';
    display: block;
}

.main .block_left {
    height: 100%;
    width: 140px;
    background: #282828;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .block_left .logo {
    height: 100px;
    width: 100%;
}

.main .block_left .lang {
    word-spacing: 5px;
    text-transform: uppercase;
    width: 80px;
    color: #a6a6a6;
    margin: 0 auto 200px;
    font-size: 20px;
}
.main .block_left .lang a {
    font-family: 'MuseoSansCyrl-700',sans-serif;
    color: #a6a6a6;
}
.main .block_left .lang a.active {
    color: #fff;
}

.main .block_left .menu {
    /*margin: 0 0 0 60px;*/
}

.main .block_left .menu ul {
    display: block;
    /*margin-top: 100px;*/
    /*margin-bottom: 120px;*/
}
.main .block_left .menu ul li {
    /*margin: 0 0 70px 0;*/
    display: block;
    position: relative;

    /*cursor: pointer;*/
}

.main .block_left .menu ul li a {
    font-family: 'MuseoSansCyrl-700',sans-serif;
    /*margin: 0 0 70px 0;*/
    display: block;
    padding: 17px 0px;
    font-weight: bold;
    padding-left: 20px;
    border-left: 10px solid transparent;
    cursor: pointer;
}
.main .block_left .menu ul li a:hover{
	border-left: 10px solid #ef4949;
	color: #fff;
	transition: border-left 0.6s ease 0s;
}
.main .block_left .menu ul li a.active {
    background: none;
    border-left: 10px solid #ef4949;
    color: #fff !important;
    transition: border-left 0.6s ease 0s;
}
.main .block_left .menu ul li.room div.cl {
    background: url(/assets/images/plus-icon2.png) left top no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    /*right: 20px;*/
    right: 40px;
    /*top: 6px;*/
    top: 31px;
    cursor: pointer;
}

.main .block_left .menu ul li a {
    /*font-family: 'MuseoSansCyrl-700',sans-serif;*/
    color: #a6a6a6;
    /*font-size: 24px;*/
    font-size: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}
.main .block_left .menu ul li a.active {
    color: #fff;
}

.main .block_left .login {
    margin: -10px 0 0 0;

}
.main .block_left .login .img {
    text-align: center;
    margin: 0 0 20px 0;
}
.main .block_left .login a {
    color: #a6a6a6;
    font-size: 20px;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin: 0 0 50px 0;
}
.main .block_left .login p {
    /*font-size: 18px;*/
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 9px;
    letter-spacing: 0.5px;
    color: #636364;
    margin: 0 0 10px 0;
    text-align: center;
}
.main .block_left .login a {
    /*font-size: 18px;*/
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 9px;
    letter-spacing: 0.5px;
    color: #636364;
    margin: 0 0 10px 0;
    text-align: center;
    text-transform: none;
}
.main .block_left .login p.print {
    text-transform: uppercase;
    /*margin: 40px 0 20px 0;*/
    margin: 20px 0 20px 0;
}

.main .block_left .login .auth .img {
    width: 60px;
    margin: 0 auto 20px;
    position: relative;
    opacity: 1;

    cursor: pointer;
}
.main .block_left .login .auth .img:hover{
	opacity: 0.5;
}
.main .block_left .login .auth .img .i_close {
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 9px;
    height: 9px;
}
.main .block_left .login .auth .img .i_close img {
    display: block;
    width: 100%;
    height: auto;
}
.main .block_left .login .auth .linkA {
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: #a6a6a6;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}
.main .block_left .login .auth .linkA.isEsc {
    cursor: pointer;
}

.main .block_left .login .auth .img_login {
    border-radius: 15px;
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 0 auto;
}
.main .block_left .login .auth .img_login img {
    width: 100%;
    height: auto;
}


.main .block_right {
    position: relative;
    min-height: 630px;
    height: 100%;
    float: left;
    width: 100%;
    background: #404041;
    padding-left: 140px;

}
.main .block_right .header {
    height: 50px;
    background: #efefef;
    width: inherit;
}
.main .block_right .header:after {
    clear: both;
    display: block;
    content: '';
}

.main .block_right .header .left:after {
    clear: both;
    display: block;
    content: '';
}

.main .block_right .header .left div {
    display: inline-block;
    vertical-align: middle;
}
.main .block_right .header .left .name {
    color: #404041;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    padding-left: 30px;
    padding-right: 15px;
    text-transform: uppercase;
    overflow: hidden;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    cursor: pointer;
}

.main .block_right .header .left .name.no-pointer {
    cursor: text;
}
.main .block_right .header .left div.clock_time {
    font-size: 10px;
    color: #a6a6a6;
    font-family: 'MuseoSansCyrl-900',sans-serif;
    text-transform: uppercase;
    margin-left: 9px;
    margin-top: -4px;
}

..main .block_right .header .right div:last-child:hover{
    background: none;
}

.my-close-x {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(/assets/images/x_2.svg) center center no-repeat;
    vertical-align: middle;
    cursor: pointer;
}
.main .block_right .header .right div.my_close{
    margin-top: 11px;
}

.view-mod{
    text-align: center;
    cursor: default;
}

.view-mod p{
    font-size: 77px;
    padding-top: 30px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'MuseoSansCyrl-700',sans-serif
}

.main .block_right .header .right div.my_close:hover{
    background: none;
}

.main .block_right .header .right {
    padding: 0 40px 0 0;
}
.main .block_right .header .right div {
    float: left;
    text-align: center;
    padding: 2px 10px;
    cursor: pointer;
}
.main .block_right .header .right div.pencil {
    padding: 2px 10px;
}
.main .block_right .header .right div:hover {
    background: #fff;
}
.main .block_right .header .right div.active {
    background: #fff;
}

.main .block_right .content {
    height: 100%;
    width: 100%;
    padding: 10px 30px 40px 30px;
    overflow-x: hidden;
    overflow-y: auto;
}
.main .block_right .content.work-create {
    height: 80%;
}
.main .block_right .content.work-view {
    overflow: hidden;
    height: 443px;
    opacity: 0.1;
    background-color: #282828;
}

.cards {
    min-height: 600px;
    width: 100%;

}
.cards .item {
    padding: 16px 13px;
    width: 187px;
    height: 300px;
    overflow: hidden;
    margin: 0 10px 5px 0;
    border: 5px solid transparent;
    border-radius: 4px;
    background: #ef4949;
    display: inline-block;
    cursor: pointer;
}
.cards .item:hover{
    border: 5px solid #636364;
}
.cards .item.color2 {
    background: #2b9eed;
}
.cards .item .name {
    min-height: 45px;
    font-size: 12px;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    color: #fff;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 1px;
    overflow: hidden;
}
.cards .item .steps {
    height: 190px;
    overflow: hidden;
}
.cards .item .step {
    max-height: 70px;
    overflow: hidden;
    /*margin: 0 0 58px 0;*/
    margin-bottom: 12px;
}
.cards .item .step .number {
    font-size: 7px;
    letter-spacing: 2px;
    color: #ffb2b2;
    font-family: 'MuseoSansCyrl-900',sans-serif;
    text-transform: uppercase;
    word-spacing: 8px;
}
.cards .item.color2 .step .number {
    color: #afdeff;
}
.cards .item .step .text {
    font-size: 9px;
    letter-spacing: 0.3px;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    color: #fff;
}
.cards .item a {
    padding: 0 0 0 0;
    display: inline-block;
}
.cards .item a:last-child {
    margin: 0;
}
.cards .item a.bt {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    border-radius: 2px;
    border: 1px solid #fff;
    text-align: center;
    text-decoration: none;
    width: 95px;
}
.cards .item a.bt:hover{
    background: #fff;
    color: #ef4949;
    border: 1px solid transparent;
}
.cards .item a.bt.active {
    color: #ef4949;
    background: #ffffff;
}
.cards.item.color2 a.bt.active {
    color: #afdeff;
}









.card {
    padding: 16px 20px;
    width: 200px;
    height: 300px;
    overflow: hidden;
    margin: 0 10px 5px 0;
    border: 5px solid transparent;
    border-radius: 4px;
    background: #ef4949;
    display: inline-block;
    cursor: pointer;
}
.card:hover{
    border: 5px solid #636364;
}
.card.color2 {
    background: #2b9eed;
}
.card .name {
    min-height: 45px;
    font-size: 12px;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    color: #fff;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 1px;
}
.card .steps {
    height: 190px;
    overflow: hidden;
}
.card .step {
    max-height: 70px;
    overflow: hidden;
    /*margin: 0 0 58px 0;*/
    margin-bottom: 12px;
}
.card .step .number {
    font-size: 7px;
    letter-spacing: 2px;
    color: #ffb2b2;
    font-family: 'MuseoSansCyrl-900',sans-serif;
    text-transform: uppercase;
    word-spacing: 8px;
}
.card.color2 .step .number {
    color: #afdeff;
}
.card .step .text {
    font-size: 9px;
    letter-spacing: 0.3px;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    color: #fff;
}
.card a {
    padding: 0 0 0 0;
    display: inline-block;
}
.card a:last-child {
    margin: 0;
}
.card a.bt {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    border-radius: 2px;
    border: 1px solid #fff;
    text-align: center;
    text-decoration: none;
    width: 95px;
}
.card a.bt:hover{
    background: #fff;
    color: #ef4949;
    border: 1px solid transparent;
}
.card a.bt.active {
    color: #ef4949;
    background: #ffffff;
}
.card.color2 a.bt.active {
    color: #afdeff;
}











.content .works {
    width: 100%;
}
/*.content .works .header_name {
    font-size: 7px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #959595;
    margin: 0 0 20px 0;
}*/
.content .works .header_name div {
    /*padding: 29px 29px 0 29px;*/
    padding: 25px 0px;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 7px;
    letter-spacing: 2px;
    color: #959595;
    text-transform: uppercase;
    /*width: 24%;*/
    display: inline-block;
}
.header_name1{
    width: 10%;
}
.header_name2{
    width: 48%;
}
.header_name3{
    width: 20%;
}
.header_name4{
    width: 20%;
}
.content .works .item {
    border-radius: 2px;
    background: #efefef;
    margin: 0 0 20px 0;
    cursor: pointer;
    position: relative;
}
.content .works .item:hover{
	background: #fff;
	transition: background 0.6s ease 0s;
}
.content .works .item div {
    display: inline-block;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    color: #959595;
    padding: 25px 0px;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: left;
    color: #404041;
}
.content .works .item .close {
    position: absolute;
    cursor: pointer;
    z-index: 100;
    top: 10px;
    right: 25px;
    width: 20px;
    height: 20px;
    opacity: 1;
    text-shadow: none;
    float: none;
    background: url(/assets/images/x.svg) center center no-repeat;
}


.ah-worksdiv1 {
    width: 10%;
    padding: 0px 25px !important;
}
.ah-worksdiv2 {
    width: 48%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
    vertical-align: middle;
}
.ah-worksdiv3 {
    width: 20%;
}
.ah-worksdiv4 {
    width: 20%;
}


.content .works .item .textBlock {
    padding: 20px;
}


.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
}
.display_inline-block{
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}
.modal {
    border-radius: 2px;

}
.helpModal.helpModal1.ah-contbox.modal.in{
    display: flex!important;
    justify-content: center;
    align-items: center;
}
.addClass.madal-newpadd.modal.in{
    display: flex!important;
    justify-content: center;
    align-items: center;
}
.addClass.cardCreate.modal.in{
    display: flex!important;
    justify-content: center;
    align-items: center;
}
.printModal.ah-contbox.modal.in{
    display: flex!important;
    justify-content: center;
    align-items: center;
}
.helpModal.helpModal3.ah-contbox.modal.in{
    display: flex!important;
    justify-content: center;
    align-items: center;
}
.helpModal.helpModal4.ah-contbox.modal.in{
    display: flex!important;
    justify-content: center;
    align-items: center;
}
.login.modal.in{
    display: flex!important;
    justify-content: center;
    align-items: center;
}

.addClass.modal.in.flex_class{
    display: flex!important;
    justify-content: center;
    align-items: center;
}
.addClass.cardCreate.modal.in .modal-dialog{
    width: 880px;
}
.modal .modal-body {
    background: #efefef;
    width: 600px;
    height: 470px;
    border-radius: 2px;
}

.modal.addClass .name {
    margin: 0 0 40px 0;
}

.modal.addClass .themes {
    margin: 0 0 20px 0;
}
.modal.addClass input[type="text"], .modal.addClass textarea{
    color: #404041;
    text-transform: uppercase;
    background: #efefef;
    padding: 5px;
    width: 100%;
    display: block;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    border: none;
    border-bottom: 2px solid #ccc;
    box-shadow: none;
    border-radius: 0;
}
.modal.addClass .time {
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 9px !important;
    letter-spacing: 2px;
    color: #404041;
    text-transform: uppercase;
    margin: 0 0 40px 0;
}
.modal.addClass .time .type {
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 9px;
    letter-spacing: 2px;
    color: #959595;
}
.modal.addClass .time input {
    margin: 0 5px;
    display: inline-block;
    width: 50px;
    height: 20px;
    border-radius: 2px;
    /*border: solid 1px #cccccc;*/
    border-bottom: solid 1px #cccccc;
    margin-left: 20px;
}
.modal.addClass .submit input {
    display: block;
    width: 140px;
    height: 50px;
    border-radius: 2px;
    /*background-color: #ef4949;*/
    background: #ef4949;
    letter-spacing: 2.4px;
    text-align: center;
    font-size: 12px;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    box-shadow: none;
    /*border-radius: 0;*/
    /*border: none;*/
    border: 1px solid transparent;
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
}
.modal.addClass .submit input:hover{
	background: transparent;
	color: #ef4949;
	border: 1px solid #ef4949;
	transition: background 0.6s ease 0s;
}
.modal .close {
    z-index: 100;
    position: absolute;
    top: 35px;
    right: 30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 1;
    text-shadow: none;
    float: none;

    background: url(/assets/images/x.svg) center center no-repeat;
}
.ah-close11{
    top: 15px !important;
}

.modal.login .icons {
    margin: 0 0 40px 0;
    min-height: 55px;
}
.modal.login .icons .item {
    display: inline-block;
    width: 140px;
    height: 50px;
    margin: 0 20px 0 0;
    border-radius: 2px;
    background: #44529c;
    cursor: pointer;
    text-align: center;
}
.modal.login .icons .item.vk {
    background: #4d75a3;
}
.modal.login .icons .item.od {
    background: #f99400;
}
.modal.login .icons .item:last-child {
    margin: 0;
}
.modal.login .icons .item div {
    width: inherit;
    height: inherit;
    vertical-align: middle;
    display: table-cell;
}

.modal.login h3 {
    text-align: center;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 1.5px;
    text-align: center;
    color: #404041;
    margin: 0 0 40px 0;
    text-transform: uppercase;
}
.modal.login .modal-body {
    overflow: hidden;
    background: #efefef;
    width: 600px;
    height: 370px;
    padding: 100px 66px;
}
.modal.login .print {
    font-size: 12px;
    opacity: 0.85;
    color: #282828;
    display: block;
    text-align: center;
    text-decoration: underline;
}

.modal-body .success h3 {
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 1.5px;
    text-align: center;
    color: #404041;
    margin: 0 0 40px 0;
    text-transform: uppercase;
}
.modal-body .success div {
    text-transform: uppercase;
    cursor: pointer;
    width: 160px;
    height: 50px;
    border-radius: 2px;
    background: #ef4949;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    padding: 17px 0 0 0;
}


.card-header {
    height: 200px;
    margin: 0 0 20px 0;
}
.card-header:after {
    clear: both;
    content: '';
    display: block;
}

.ah-workswrapp {
    display: inline-block;
    float: right;
}
.ah-workswrapp-span {
    display: inline-block;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    color: #a6a6a6;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 30px;
}
.ah-workswrapp-span:hover {
    color: #fff;
    transition: color 0.6s ease 0s;
}
.ah-workswrapp-span.active {
    color: #fff !important;
    transition: color 0.6s ease 0s;
}


.link-create-card {
    padding: 4px 19px 2px 48px;
    background: url(/assets/images/plus-icon.png) calc(0% + 15px) center no-repeat;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    letter-spacing: 2px;
    color: #ffc826;
    cursor: pointer;

    display: inline-block;
    border: 1px solid #ffc826;
    border-radius: 2px;
    line-height: 30px;
    text-align: center;
    float: right;
}
.link-create-card:hover{
	color: #fff;
	background: #ffc826;
	transition: background 0.6s ease 0s;
	background: url(/assets/images/ah-plus-white.png) calc(0% + 15px) center no-repeat #ffc826;
}

.link-filter {
    padding: 4px 19px 2px 48px;
    background: url(/assets/images/options-2-new.png) calc(0% + 15px) center no-repeat;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    letter-spacing: 2px;
    color: #AFAFAF;
    cursor: pointer;
    margin-left: 19px;
    display: inline-block;
    border: 1px solid #AFAFAF;
    border-radius: 2px;
    line-height: 30px;
    text-align: center;
    float: right;
}
.link-filter:hover{
    color: #EF4949;
    border: 1px solid #EF4949;
    transition: border 0.6s ease 0s;
    background: url(/assets/images/options-2-copy.png) calc(0% + 15px) center no-repeat;
}

.link-filter.active{
    color: #EF4949 !important;
    border: 1px solid #EF4949;
    transition: border 0.6s ease 0s;
    background: url(/assets/images/options-2-copy.png) calc(0% + 15px) center no-repeat;
}

.link-notes {
    padding: 4px 19px 2px 48px;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    letter-spacing: 2px;
    color: #AFAFAF;
    cursor: pointer;
    margin-left: 19px;
    display: inline-block;
    border: 1px solid #AFAFAF;
    border-radius: 2px;
    line-height: 30px;
    text-align: center;
    float: right;
    background: url(/assets/images/comments-icon-gray.png) calc(0% + 15px) center no-repeat;
}
.link-notes:hover{
    color: #EF4949;
    border: 1px solid #EF4949;
    transition: border 0.6s ease 0s;
    background: url(/assets/images/comments-icon-red.png) calc(0% + 15px) center no-repeat;
}

.link-notes.active{
    color: #EF4949 !important;
    border: 1px solid #EF4949;
    transition: border 0.6s ease 0s;
    background: url(/assets/images/comments-icon-red.png) calc(0% + 15px) center no-repeat;
}

.addClass.cardCreate .modal-body {
    width: 880px;
    height: auto;
    border-radius: 2px;
    background-color: #efefef;
    padding: 30px 80px;
}


.addClass.cardCreate .name {
    margin: 0 0 15px 0;
}

.cardCreate .label {
    text-align: left;
    display: block;
    padding: 0 0 0 0;
    font-size: 7px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #ef4949;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
.cardCreate .label .img {
    margin: 0 5px 0 0;
    display: inline-block;
    width: 13px;
    position: relative;
    cursor: pointer;
}
.cardCreate .label .img img {
    width: 10px;
}
.cardCreate .label .text {
    padding: 5px 0 0 0;
    display: inline-block;
}


.cardCreate .target .label {
    display: inline-block;
    width: 160px;
}
.cardCreate .target .items {
    display: inline-block;
}
.cardCreate .cardText .item {
    margin: 0 0 10px 0;
}
.cardCreate .cardText .item:after {
    clear: both;
    content: '';
    display: block;
}
.cardCreate .cardText .number {
    padding: 10px 0 0 0;
    font-size: 7px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #ef4949;
    float: left;
    margin: 0 13px 0 0;
}
.cardCreate .cardText .input {
    float: left;
    width: 695px;
    height: 30px;
}
.cardCreate .cardText .input input {
    text-transform: none;
    width: inherit;
    height: 30px;
    background: #fff;
    font-size: 9px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: left;
    color: #404041;
    padding: 5px;
    border: none;

    background: #efefef;
    border-bottom: 2px solid #ef4949;
}

.cardCreate .cardText .addBt {
    text-align: center;
    height: 30px;
    border-radius: 2px;
    border: solid 1px #cccccc;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 0 0 0;
    font-size: 7px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #a6a6a6;
}

.cardCreate .target .items .item {
    margin: 0 10px 10px 0;
    border-radius: 2px;
    border: solid 1px #cccccc;
    height: 22px;
    padding: 5px 3px 0 3px;
    cursor: pointer;
    display: inline-block;

    font-size: 7px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: #a6a6a6;
    text-transform: uppercase;
}
.cardCreate .target .items .item.active {
    background-color: #ef4949;
    border: solid 1px #ef4949;

    font-size: 7px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.cardCreate .isGroup:after {
    clear: both;
    content: '';
    display: block;
}
.cardCreate .isGroup .img {
    /*padding: 0 0 0 140px;*/
    float: left;
    margin: -1px 12px 0 0;
}
.ah-spangrupp{
    display: inline-block;
    font-family: 'MuseoSansCyrl-900',sans-serif;
    font-size: 7px;
    letter-spacing: 1.8px;
    color: #ef4949;
    vertical-align: middle;
    text-transform: uppercase;
}
.cardCreate .isGroup .text {
    float: left;
    margin-left: 23px;
}
.cardCreate .isGroup .text:after {
    clear: both;
    content: '';
    display: block;
}
.cardCreate .isGroup .text input {
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: solid 1px #cccccc;
    display: block;
    float: left;
}
.cardCreate .isGroup .text label {
    margin: 7px 0 0 0;
    float: left;
    display: block;
    font-size: 7px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #404041;
}

.cardCreate .time:after {
    clear: both;
    content: '';
    display: block;
}
.cardCreate .time .label {
    /*width: 160px;*/
    float: left;
}
.cardCreate .time .input {
    float: left;
}
.cardCreate .time input {
    width: 50px;
    height: 20px;
    border-radius: 2px;
    border: solid 1px #cccccc;

    font-size: 9px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: left;
    color: #404041;
    padding: 5px;
}

.cardCreate .text textarea {
    overflow: auto;
    display: block;
    resize: none;
    color: #a6a6a6;
    text-transform: uppercase;
    background: #efefef;
    padding: 5px;
    width: 100%;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    border: none;
    border-bottom: 2px solid #ccc;
    box-shadow: none;
    border-radius: 0;
    height: 26px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.container:after, .container:before {
    display: table;
    content: " "
}

.container:after {
    clear: both
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.row:after, .row:before {
    display: table;
    content: " "
}

.row:after {
    clear: both
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left
}

.col-xs-12 {
    width: 100%
}

.col-xs-11 {
    width: 91.66666666666666%
}

.col-xs-10 {
    width: 83.33333333333334%
}

.col-xs-9 {
    width: 75%
}

.col-xs-8 {
    width: 66.66666666666666%
}

.col-xs-7 {
    width: 58.333333333333336%
}

.col-xs-6 {
    width: 50%
}

.col-xs-5 {
    width: 41.66666666666667%
}

.col-xs-4 {
    width: 33.33333333333333%
}

.col-xs-3 {
    width: 25%
}

.col-xs-2 {
    width: 16.666666666666664%
}

.col-xs-1 {
    width: 8.333333333333332%
}

.col-xs-pull-12 {
    right: 100%
}

.col-xs-pull-11 {
    right: 91.66666666666666%
}

.col-xs-pull-10 {
    right: 83.33333333333334%
}

.col-xs-pull-9 {
    right: 75%
}

.col-xs-pull-8 {
    right: 66.66666666666666%
}

.col-xs-pull-7 {
    right: 58.333333333333336%
}

.col-xs-pull-6 {
    right: 50%
}

.col-xs-pull-5 {
    right: 41.66666666666667%
}

.col-xs-pull-4 {
    right: 33.33333333333333%
}

.col-xs-pull-3 {
    right: 25%
}

.col-xs-pull-2 {
    right: 16.666666666666664%
}

.col-xs-pull-1 {
    right: 8.333333333333332%
}

.col-xs-pull-0 {
    right: 0
}

.col-xs-push-12 {
    left: 100%
}

.col-xs-push-11 {
    left: 91.66666666666666%
}

.col-xs-push-10 {
    left: 83.33333333333334%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-8 {
    left: 66.66666666666666%
}

.col-xs-push-7 {
    left: 58.333333333333336%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-5 {
    left: 41.66666666666667%
}

.col-xs-push-4 {
    left: 33.33333333333333%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-2 {
    left: 16.666666666666664%
}

.col-xs-push-1 {
    left: 8.333333333333332%
}

.col-xs-push-0 {
    left: 0
}

.col-xs-offset-12 {
    margin-left: 100%
}

.col-xs-offset-11 {
    margin-left: 91.66666666666666%
}

.col-xs-offset-10 {
    margin-left: 83.33333333333334%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-8 {
    margin-left: 66.66666666666666%
}

.col-xs-offset-7 {
    margin-left: 58.333333333333336%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-5 {
    margin-left: 41.66666666666667%
}

.col-xs-offset-4 {
    margin-left: 33.33333333333333%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-2 {
    margin-left: 16.666666666666664%
}

.col-xs-offset-1 {
    margin-left: 8.333333333333332%
}

.col-xs-offset-0 {
    margin-left: 0
}

@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-11 {
        width: 91.66666666666666%
    }

    .col-sm-10 {
        width: 83.33333333333334%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-8 {
        width: 66.66666666666666%
    }

    .col-sm-7 {
        width: 58.333333333333336%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-5 {
        width: 41.66666666666667%
    }

    .col-sm-4 {
        width: 33.33333333333333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-2 {
        width: 16.666666666666664%
    }

    .col-sm-1 {
        width: 8.333333333333332%
    }

    .col-sm-pull-12 {
        right: 100%
    }

    .col-sm-pull-11 {
        right: 91.66666666666666%
    }

    .col-sm-pull-10 {
        right: 83.33333333333334%
    }

    .col-sm-pull-9 {
        right: 75%
    }

    .col-sm-pull-8 {
        right: 66.66666666666666%
    }

    .col-sm-pull-7 {
        right: 58.333333333333336%
    }

    .col-sm-pull-6 {
        right: 50%
    }

    .col-sm-pull-5 {
        right: 41.66666666666667%
    }

    .col-sm-pull-4 {
        right: 33.33333333333333%
    }

    .col-sm-pull-3 {
        right: 25%
    }

    .col-sm-pull-2 {
        right: 16.666666666666664%
    }

    .col-sm-pull-1 {
        right: 8.333333333333332%
    }

    .col-sm-pull-0 {
        right: 0
    }

    .col-sm-push-12 {
        left: 100%
    }

    .col-sm-push-11 {
        left: 91.66666666666666%
    }

    .col-sm-push-10 {
        left: 83.33333333333334%
    }

    .col-sm-push-9 {
        left: 75%
    }

    .col-sm-push-8 {
        left: 66.66666666666666%
    }

    .col-sm-push-7 {
        left: 58.333333333333336%
    }

    .col-sm-push-6 {
        left: 50%
    }

    .col-sm-push-5 {
        left: 41.66666666666667%
    }

    .col-sm-push-4 {
        left: 33.33333333333333%
    }

    .col-sm-push-3 {
        left: 25%
    }

    .col-sm-push-2 {
        left: 16.666666666666664%
    }

    .col-sm-push-1 {
        left: 8.333333333333332%
    }

    .col-sm-push-0 {
        left: 0
    }

    .col-sm-offset-12 {
        margin-left: 100%
    }

    .col-sm-offset-11 {
        margin-left: 91.66666666666666%
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333333334%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-8 {
        margin-left: 66.66666666666666%
    }

    .col-sm-offset-7 {
        margin-left: 58.333333333333336%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-5 {
        margin-left: 41.66666666666667%
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333333333%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-2 {
        margin-left: 16.666666666666664%
    }

    .col-sm-offset-1 {
        margin-left: 8.333333333333332%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }
}

@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-11 {
        width: 91.66666666666666%
    }

    .col-md-10 {
        width: 83.33333333333334%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-8 {
        width: 66.66666666666666%
    }

    .col-md-7 {
        width: 58.333333333333336%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.66666666666667%
    }

    .col-md-4 {
        width: 33.33333333333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-2 {
        width: 16.666666666666664%
    }

    .col-md-1 {
        width: 8.333333333333332%
    }

    .col-md-pull-12 {
        right: 100%
    }

    .col-md-pull-11 {
        right: 91.66666666666666%
    }

    .col-md-pull-10 {
        right: 83.33333333333334%
    }

    .col-md-pull-9 {
        right: 75%
    }

    .col-md-pull-8 {
        right: 66.66666666666666%
    }

    .col-md-pull-7 {
        right: 58.333333333333336%
    }

    .col-md-pull-6 {
        right: 50%
    }

    .col-md-pull-5 {
        right: 41.66666666666667%
    }

    .col-md-pull-4 {
        right: 33.33333333333333%
    }

    .col-md-pull-3 {
        right: 25%
    }

    .col-md-pull-2 {
        right: 16.666666666666664%
    }

    .col-md-pull-1 {
        right: 8.333333333333332%
    }

    .col-md-pull-0 {
        right: 0
    }

    .col-md-push-12 {
        left: 100%
    }

    .col-md-push-11 {
        left: 91.66666666666666%
    }

    .col-md-push-10 {
        left: 83.33333333333334%
    }

    .col-md-push-9 {
        left: 75%
    }

    .col-md-push-8 {
        left: 66.66666666666666%
    }

    .col-md-push-7 {
        left: 58.333333333333336%
    }

    .col-md-push-6 {
        left: 50%
    }

    .col-md-push-5 {
        left: 41.66666666666667%
    }

    .col-md-push-4 {
        left: 33.33333333333333%
    }

    .col-md-push-3 {
        left: 25%
    }

    .col-md-push-2 {
        left: 16.666666666666664%
    }

    .col-md-push-1 {
        left: 8.333333333333332%
    }

    .col-md-push-0 {
        left: 0
    }

    .col-md-offset-12 {
        margin-left: 100%
    }

    .col-md-offset-11 {
        margin-left: 91.66666666666666%
    }

    .col-md-offset-10 {
        margin-left: 83.33333333333334%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-8 {
        margin-left: 66.66666666666666%
    }

    .col-md-offset-7 {
        margin-left: 58.333333333333336%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-5 {
        margin-left: 41.66666666666667%
    }

    .col-md-offset-4 {
        margin-left: 33.33333333333333%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-2 {
        margin-left: 16.666666666666664%
    }

    .col-md-offset-1 {
        margin-left: 8.333333333333332%
    }

    .col-md-offset-0 {
        margin-left: 0
    }
}

@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left
    }

    .col-lg-12 {
        width: 100%
    }

    .col-lg-11 {
        width: 91.66666666666666%
    }

    .col-lg-10 {
        width: 83.33333333333334%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-8 {
        width: 66.66666666666666%
    }

    .col-lg-7 {
        width: 58.333333333333336%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-5 {
        width: 41.66666666666667%
    }

    .col-lg-4 {
        width: 33.33333333333333%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-2 {
        width: 16.666666666666664%
    }

    .col-lg-1 {
        width: 8.333333333333332%
    }

    .col-lg-pull-12 {
        right: 100%
    }

    .col-lg-pull-11 {
        right: 91.66666666666666%
    }

    .col-lg-pull-10 {
        right: 83.33333333333334%
    }

    .col-lg-pull-9 {
        right: 75%
    }

    .col-lg-pull-8 {
        right: 66.66666666666666%
    }

    .col-lg-pull-7 {
        right: 58.333333333333336%
    }

    .col-lg-pull-6 {
        right: 50%
    }

    .col-lg-pull-5 {
        right: 41.66666666666667%
    }

    .col-lg-pull-4 {
        right: 33.33333333333333%
    }

    .col-lg-pull-3 {
        right: 25%
    }

    .col-lg-pull-2 {
        right: 16.666666666666664%
    }

    .col-lg-pull-1 {
        right: 8.333333333333332%
    }

    .col-lg-pull-0 {
        right: 0
    }

    .col-lg-push-12 {
        left: 100%
    }

    .col-lg-push-11 {
        left: 91.66666666666666%
    }

    .col-lg-push-10 {
        left: 83.33333333333334%
    }

    .col-lg-push-9 {
        left: 75%
    }

    .col-lg-push-8 {
        left: 66.66666666666666%
    }

    .col-lg-push-7 {
        left: 58.333333333333336%
    }

    .col-lg-push-6 {
        left: 50%
    }

    .col-lg-push-5 {
        left: 41.66666666666667%
    }

    .col-lg-push-4 {
        left: 33.33333333333333%
    }

    .col-lg-push-3 {
        left: 25%
    }

    .col-lg-push-2 {
        left: 16.666666666666664%
    }

    .col-lg-push-1 {
        left: 8.333333333333332%
    }

    .col-lg-push-0 {
        left: 0
    }

    .col-lg-offset-12 {
        margin-left: 100%
    }

    .col-lg-offset-11 {
        margin-left: 91.66666666666666%
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333333334%
    }

    .col-lg-offset-9 {
        margin-left: 75%
    }

    .col-lg-offset-8 {
        margin-left: 66.66666666666666%
    }

    .col-lg-offset-7 {
        margin-left: 58.333333333333336%
    }

    .col-lg-offset-6 {
        margin-left: 50%
    }

    .col-lg-offset-5 {
        margin-left: 41.66666666666667%
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333333333%
    }

    .col-lg-offset-3 {
        margin-left: 25%
    }

    .col-lg-offset-2 {
        margin-left: 16.666666666666664%
    }

    .col-lg-offset-1 {
        margin-left: 8.333333333333332%
    }

    .col-lg-offset-0 {
        margin-left: 0
    }
}

.bottom-timeline {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: auto;
    padding-left: 140px;
}

.bottom-timeline__status {
    width: 100vw;
    min-width: 100vw;
    background: #eee;
}
.status-box {
    height: 30px;
    display: -webkit-box;
    width: 100%;
    background: #eee;
    padding: 0 0 0 0;

}
.status-box__block {
    width: 198px;
    height: inherit;
    padding: 4px 0px;
    text-align: center;
    position: relative;
    float: left;
}
.status-box:after {
    clear: left;
    content: '';
    display: block;
}

.status-box__block .bg_before {
    border-width: 4px 0 4px 8px;
    border-color: transparent transparent transparent #ccc;
    right: 5px;
    cursor: pointer;
}
.status-box__block .bg_before:hover{
    border-color: transparent transparent transparent #ef4949;
}
.status-box__block .bg_before, .status-box__block .bg_after{
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.status-box__block .bg_after {
    border-width: 4px 8px 4px 0;
    border-color: transparent #ccc transparent transparent;
    left: 5px;
    cursor: pointer;
}
.status-box__block .bg_after:hover{
    border-color: transparent #ef4949 transparent transparent !important;
}
.status-box__heart {
    background: #fff;
}

.status-status__word {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px
}

.status-status__btn, .status-status__word {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle
}

.status-status__btn {
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background: #ccc;
    margin: 0 0 0 15px;
    cursor: pointer;
}
.status-status__btn:hover{
    background: #ef4949;
}

.timeline-scale {
    height: 23px;
    display: block;
    padding: 0 0 0 0;
    background: #525151;
    margin: 0;
    white-space: nowrap;
    position: relative;
    z-index:10;
}

.timeline-scale__item {
    display: inline-block;
    margin: 0 4px;
    font-size: 11px;
    color: #fff;
    width: 14px;
}

.progress-container {
    height: 50px;
    width: 100%;
    display: -webkit-box;
}

.progress-container__block {
    width: 194px;
    margin: 2px;
    padding: 0 0;
    position: relative;
    box-sizing: border-box;
    height: 52px;
    border-radius: 2px 2px 4px 4px;
    margin-top: 3px;
    border-bottom: 2px solid #404041;
}

.progress-container__block h3 {
    overflow: hidden;
}

.progress-block.color1 {
    background: #ef4949
}
.progress-block.color1:hover {
    opacity: 0.9;
}

.progress-block.color2 {
    background: #2b9eed
}
.progress-block.color2:hover {
    opacity: 0.9;
}

.progress-block__title {
    display: block;
    height: 55px;
    color: #fff;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
    margin: 0;
    padding: 20px 20px;
}
.progress-block:hover .icon {
    display: block;
}

.timelane-box {
    width: 100vw;
    background: #404041;
    height: 55px;
    min-width: 100%;
    display: table;
}
.timelane-box.up {
    height: 256px;
}
.timeline-box__progress {
    height: inherit;
    min-width: 1140px;
}

.progress-block__time {
    background: #636364;
    height: 23px;
    position: absolute;
    text-align: center;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 7px;
    letter-spacing: 2px;
    line-height: 16px;
    color: #fff;
    width: 100%;
    top: -23px;
    right: 0;
    padding: 3px 0 0 0;
    text-transform: uppercase;
    border-radius: 2px;
    z-index: 100;
    border-bottom: 3px solid #404041;
}

.progress-block .icon {
    padding: 14px 0 14px 0;
    height: 50px;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
    background: #ef4949;
    display: none;
}
.progress-block.color2 .icon {
    background: #2b9eed;
}

.progress-block .icon .item {
    width: 130px;
    margin: 0 auto;
}
.progress-block .icon .item:after {
    clear: both;
    content: '';
    display: block;
}
.progress-block .icon .i_comment {
    margin: 0 68px 0 0;
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
}
.progress-block .icon .i_search {
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
}
.progress-block .icon img {
    width: 100%;
    height: auto;
}

.progress-block .messageAdd {
    cursor: pointer;
    width: 100%;
    height: 198px;
    border-radius: 2px;
    border: solid 1px #636364;
    top: 52px;
    left: 0;
    position: absolute;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 7px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: #a6a6a6;
    padding: 100px 0 0 0;
}

.progress-block .message {
    top: 52px;
    left: 0;
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 198px;
    border-radius: 2px;
    background-color: #efefef;
}
.progress-block .message .text {
    height: 130px;
    width: 100%;
}
.progress-block .message .text textarea {
    width: 100%;
    background-color: #efefef;
    border: none;
    resize: none;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 9px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: left;
    color: #404041;
    height: inherit;
}
.progress-block .message .edit_mes {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 20px;
    height: 20px;
}
.progress-block .message .remove_mes {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 20px;
    height: 20px;
}
.progress-block .message img {
    width: 100%;
    height: auto;
}


.progress-dnd {
    background: hsla(0, 0%, 80%, .3);
    border: 1px dashed #ccc
}

.progress-dnd__title {
    font-size: 10px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    line-height: 25px;
    vertical-align: middle;
    color: #fff
}

.timeline_becground-absolute{
    position: absolute;
    content: '';
    width: 100%;
    height: 23px;
    top: 30px;
    left: 0;
    background: #515050;
}

.progress-counter {
    text-align: center;
    position: absolute;
    /*background: #a6a6a6;*/
    background: #404041;
    width: 98%;
    top: 2px;
    z-index: 1;
    left: 50%;
    max-height: 18px;
    /*border-radius: 5px;*/
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    display: none;
}
.progress-block__time:hover .progress-counter {
    display: block;
}

.progress-counter__btn-minus, .progress-counter__btn-plus {
    color: #ccc;
    text-decoration: none;
    font-weight: 700;
    line-height: 14px;
    vertical-align: middle;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}
.progress-counter__result {
    text-align: center;
    border: none;
    background-color: transparent;
    outline: none;
    color: #fff;
    padding: 0;
    /*font-size: 10px;*/
    font-size: 7px;
    letter-spacing: 2px;
    line-height: 14px;
    vertical-align: middle
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none;
    padding: 0
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    display: inline-block
}

a:hover {
    text-decoration: none
}

* {
    box-sizing: border-box
}
.logo img{
    width: 100%;
}
img {

    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top
}

body {
    width: 100%
}


.card_item {
    padding: 40px;
    width: 400px;
    height: 600px;
    overflow: hidden;
    margin: 0 40px 40px 0;
    border-radius: 5px;
    background: #ef4949;
    display: inline-block;
}
.card_item.color2 {
    background: #2b9eed;
}
.card_item .name {
    font-size: 24px;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    line-height: 40px;
}
.card_item .steps {
    height: 400px;
    overflow: hidden;
}
.card_item .step {
    max-height: 300px;
    overflow: hidden;
    margin: 0 0 58px 0;
}
.card_item .step .number {
    margin: 0 0 10px 0;
    font-size: 14px;
    color: #ffb2b2;
    font-family: 'MuseoSansCyrl-900',sans-serif;
    text-transform: uppercase;
    word-spacing: 8px;
}
.card_item.color2 .step .number {
    color: #afdeff;
}
.card_item .step .text {
    font-size: 18px;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    margin: 0 0 20px 0;
    color: #fff;
}
.card_item a {
    margin: 0 20px 0 0;
    padding: 0 0 0 0;
    display: inline-block;
}
.card_item a:last-child {
    margin: 0;
}
.card_item a.bt {
    height: 60px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    border-radius: 10px;
    border: 2px solid #fff;
    text-align: center;
    text-decoration: none;
    padding: 16px 0 0 0;
    width: 189px;
}
.card_item a.bt.active {
    color: #ef4949;
    background: #ffffff;
}
.card_item.color2 a.bt.active {
    color: #afdeff;
}
/* ******************** */
.addClass.madal-newpadd .modal-body {
    padding: 0 0 20px 0;
    height: auto;
}
.ah-title {
    /*display: block;*/
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.5px;
    color: #fff;
    text-transform: uppercase;
}
.top-line {
    background: #ef4949;
    padding: 26px 0px 24px 49px;
}
.ah-clock {
    display: inline-block;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    color: #fff;
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 18px;
    padding: 6px 0 6px 30px;
    background: url(/assets/images/clock-icon-copy-new.png) left center no-repeat;
}
.ah-table{
    display: table;
    width: 100%;
}
.ah-cell1{
    display: table-cell;
    width: 70%;
    vertical-align: middle;
}
.ah-cell2{
    display: table-cell;
    width: 20%;
    vertical-align: middle;
}
.ah-cell3{
    display: table-cell;
    width: 7%;
    vertical-align: middle;
}

.tabs-container{
    padding: 20px;
    height: 190px;
}
.tabs-navigation{
    margin: 0;
    height: 50px;
}
.tabs-navigation li{
    float: left;
    list-style: none;
    width: 50%;
    background: #d8d8d8;
}
.tabs-navigation li a{
    display: block;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    padding: 0 0px;
    height: 50px;
    color: #a6a6a6;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
.tabs-navigation li a:hover{
    color: #404041;
    background: #ccc;
}
.tabs-navigation li a.active{
    color: #404041!important;
    background: #efefef;
}
.ah-list li:first-child{
    text-align: left;
    margin-left: 20px;
}
.ah-list li:last-child{
    text-align: right;
}
.ah-buttom-span{
    display: inline-block;
    font-family: 'MuseoSansCyrl-900',sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    color: #a6a6a6;
    text-transform: uppercase;
}
.ah-buttom-span span{
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    color: #404041;
    text-transform: uppercase;
    margin-left: 5px;
}
.ah-link{
    display: inline-block;
    background: #ef4949;
    padding: 16px 26px 15px 26px;
    text-align: center;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 12px;
    letter-spacing: 2.4px;
    color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    cursor: pointer;
    text-transform: uppercase;
}
.link-create-card-marg {
    float: none;
}

.ah-link:hover{
    color: #ef4949;
    background: transparent;
    border: 1px solid #ef4949;
    transition: background 0.6s ease 0s;
}
.ah-buttom-span1{
    display: inline-block;
    font-family: 'MuseoSansCyrl-900',sans-serif;
    font-size: 9px;
    letter-spacing: 2px;
    color: #a6a6a6;
    text-transform: uppercase;
}
.ah-buttom-span1 a {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url(/assets/images/Star_icon_gr.svg) center center no-repeat;
    vertical-align: bottom;
    margin-left: 10px;
    opacity: 0.8;
    cursor: pointer;
}
.ah-buttom-span1 a:hover {
    background: url(/assets/images/Star_icon_yel.svg) center center no-repeat;
}
.ah-buttom-span1 a.active {
    background: url(/assets/images/Star_icon_yel.svg) center center no-repeat;
}

.ah-list{
    width: 100%;
    text-align: center;
}
.ah-list li{
    display: inline-block;
    width: 30%;
}
.ah-wrapp{
    position: relative;
    /*border: 3px solid red;*/
}
.ah-wrapp-left{
    position: absolute;
    top: 45%;
    left: -60px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 99999;
    background: url(/assets/images/left_arrow.svg) center center no-repeat #282828;
}
.ah-wrapp-left:hover{
    background: url(/assets/images/left_arrow_fff.svg) center center no-repeat #ef4949;
}
.ah-wrapp-right{
    position: absolute;
    top: 45%;
    right: -60px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    z-index: 99999;
    background: url(/assets/images/right_arrow.svg) center center no-repeat #282828;
}
.ah-wrapp-right:hover{
    background: url(/assets/images/right_arrow_fff.svg) center center no-repeat #ef4949;
}
.ah-tab1-table {
    position: relative;
    display: table;
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 8px;
}
.ah-tab1-table:last-child .ah-tab1-marker {
    height: 5px;
}

.ah-tab1-left{
    display: table-cell;
    width: 15%;
    vertical-align: middle;
}
.ah-tab1-right{
    display: table-cell;
    width: 85%;
    vertical-align: middle;
}
.ah-tab1-span{
    display: inline-block;
    font-family: 'MuseoSansCyrl-900',sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    color: #ef4949;
    text-transform: uppercase;
}
.ah-tab1-span a {
    display: inline-block;
    background: url(/assets/images/copy.svg) center center no-repeat;
    width: 11px;
    height: 11px;
    vertical-align: middle;
    margin-left: 8px;
    position: relative;
}
.tultip{
    z-index:2;
}
.ah-tab1-span a .tultip {
    background: rgba(0,0,0, 0.8);
    width: 198px;
    position: absolute;
    top: 22px;
    left: -25px;
    z-index: 1000;

}
.ah-tab1-span a:hover .tultip {
    display: block;
}


.ah-tab1-span1{
    display: inline-block;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 13px;
    letter-spacing: 0.3px;
    color: #404041;
}
.ah-list-span11{
    display: inline-block;
    font-family: 'MuseoSansCyrl-900',sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    color: #ef4949;
    text-transform: uppercase;
}
.ah-list-span11 span{
    font-family: 'MuseoSansCyrl-700',sans-serif;
    color: #404041;
    text-transform: uppercase;
    margin-left: 9px;
}
.ah-list-span12{
    display: inline-block;
    font-family: 'MuseoSansCyrl-900',sans-serif;
    color: #404041;
    text-transform: uppercase;
    font-size: 7px;
    letter-spacing: 2px;
}
.ah-tab2-icon{
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url(/assets/images/copy.svg) center center no-repeat;
    vertical-align: middle;
    margin-right: 9px;
}
.ah-tab2-wrapper li{
    margin-bottom: 9px;
}
.ah-tab2-wrapper{
    padding: 0px 20px;
}
.ah-tab3-wrapp{
    padding: 0px 20px;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 0.2px;
    text-align: left;
    color: #404041;
}
.ah-cell3-close{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(/assets/images/x_2.svg) center center no-repeat;
    vertical-align: middle;

    cursor: pointer;
}
.ah-cell3-close:hover{
    background: url(/assets/images/x_3_white.svg) center center no-repeat;
}
.ah-item-title{
    display: block;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 35px;
}
.ah-item-border{
    border-bottom: 1px solid #979797;
    position: relative;
}
.ah-content{
    padding: 10px 30px !important;
}
.ah-card-header{
    height: auto !important;
}
.ah-cardtitle{
    border-bottom: 2px solid #636364;
    /*padding: 25px 0px 15px 0px;*/
    padding: 25px 0px 15px 0px;
    margin-right: -5px;
}
.ah-cardtitle-span{
    display: inline-block;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 1.5px;
    color: #fff;
    text-transform: uppercase;
}
.ah-link-create-card{
    /*display: inline-block;
    width: 200px;
    height: 30px;
    border: 1px solid #ffc826;
    border-radius: 2px;
    line-height: 30px;
    text-align: center;*/
}
.ah-itembox{
    /*position: relative;*/
    display: inline-block;
    /*width: 155px;*/
    /*height: 26px;*/
    background: #b13333;
    /*margin-bottom: 8px;*/
    /*margin-bottom: 16px;*/

    vertical-align: top;
    cursor: pointer;
}
.ah-itembox:hover{
	background: #b13333;
	transition: background 0.6s ease 0s;
}
.ah-itembox:hover .ah-itembox1{
	background: #ff6060;
	transition: background 0.6s ease 0s;
}
.ah-itembox1{
    /*position: absolute;*/
    position: relative;
    display: inline-block;
    top: -6px;
    left: -6px;
    width: 155px;
    /*height: 26px;*/
    height: auto;
    padding: 5px 5px;
    background: #ef4949;

    
}
.ah-itembox1-span{
    display: block;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    color: #fbf5f5;
    /*line-height: 26px;*/
    line-height: 14px;
    /*text-align: center;*/
    text-transform: uppercase;
}
/*.ah-itembox1-span span{
    margin-left: 20px;
}*/
.ah-itembox-marg{
    margin: 8px 20px;
}
.ah-cardfilter-list{
    margin-top: 0px;
}
.ah-cardfilter-list li{
    display: block;
    border-bottom: 1px solid #636364;
    margin-bottom: 30px;
}
.ah-cardfilter-title{
    display: block;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
}
.ah-cardfilter-sublist li{
    display: block;
    border-bottom: none;
    margin-bottom: 0;
}
.ah-cardfilter-span{
    display: block;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 7px;
    letter-spacing: 2px;
    color: #a6a6a6;
    padding: 10px 20px;
    background: transparent;
    text-transform: uppercase;

    cursor: pointer;
}
.ah-cardfilter-span span{
    float: right;
}
.ah-cardfilter-span:hover{
    background: #636364;
    transition: background 0.6s ease 0s;
}
.ah-cardfilter-span.active {
    background: #636364;
    transition: background 0.6s ease 0s;
}

.ah-filtercolor-red {
    background: #ef4949;
}
.ah-filtercolor-red.color2 {
    background: #2b9eed;
    transition: background 0.6s ease 0s;
}

.ah-filtercolor-red.color2 .ah-filterwrapp-link:hover{
	background: #fff;
	border: 1px solid #fff;
	color: #2b9eed !important;
	transition: background 0.6s ease 0s;
}
.ah-filtercolor-red .ah-filterwrapp-link:hover{
	background: #fff;
	border: 1px solid #fff;
	color: #ef4949 !important;
	transition: background 0.6s ease 0s;
}

.ah-filterwrapp-titlebox{
	height: 60px;
}
.ah-filterwrapp-title{
    display: block;
    /*font-family: 'MuseoSansCyrl-700',sans-serif;*/
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.ah-filterwrapp{
    padding: 6px 10px;
    margin: 14px 0px 2px 0;

    height: 300px;
    border: 5px solid transparent;
    border-radius: 0px;
}
.ah-filterwrapp:hover{
	border-radius: 4px;
	border: 5px solid #636364;
	transition: border border-radius 0.6s ease 0s;
}
.ah-filterwrapp .openView {
    cursor: pointer;
    padding-bottom: 105px;
}

.ah-filterwrapp a {
    cursor: pointer;
}

.ah-filterwrapp-list{
    margin-bottom: 20px;
    /*margin-top: 30px;*/
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(204,204,204,0.3);
}
.ah-filterwrapp-list li{
    display: inline-block;
    margin-right: 10px;
    /*font-family: 'MuseoSansCyrl-900',sans-serif;*/
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 7px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
}
.ah-filtr-active{
    color: #fff !important;
}
.ah-filterwrapp-span{
    display: block;
    /*font-family: 'MuseoSansCyrl-900',sans-serif;*/
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 7px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.ah-filterwrapp-list li:last-child{
    margin-right: 0px;
}
.no-padd{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.ah-filterwrapp-link{
    display: inline-block;
    width: 95px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 2px;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    background: transparent;
    text-transform: uppercase;
}
/*.ah-filterwrapp-link:hover{
	background: #fff;
	border: 1px solid #fff;
	color: #ef4949 !important;
	transition: background 0.6s ease 0s;
}*/
.ah-filterwrapp-link:hover{
    color: #fff;
}
.ah-filterwrapp-link1{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/assets/images/knowmore_icon.svg) center center no-repeat;
    vertical-align: middle;
    margin-left: 8px;
}

.show-card-modal{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(/assets/images/knowmore_icon.svg) center center no-repeat;
    vertical-align: middle;
}

.color1 .ah-filterwrapp-link2{
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url(/assets/images/star-icon.png) center center no-repeat;
    vertical-align: middle;
    margin-left: 8px;
    cursor: pointer;
    float: right;
}
.color2 .ah-filterwrapp-link2{
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url(/assets/images/Star_icon_blue.svg) center center no-repeat;
    vertical-align: middle;
    margin-left: 8px;
    cursor: pointer;
    float: right;
}
.cards .item a.ah-filterwrapp-link2 {
    margin-top: 4px;
}

.ah-filterwrapp-link2.active {
    background: url(/assets/images/Star_icon_yel.svg) center center no-repeat;
}
.ah-filterwrapp-link2:hover{
	background: url(/assets/images/Star_icon_yel.svg) center center no-repeat;
}
/*.ah-bottombox{*/
    /*margin-top: 125px;*/
/*}*/
.ah-help-title{
    display: inline-block;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
}
.ah-help-list{
    display: inline-block;
    margin-left: 70px;
}
.ah-help-list li{
    display: inline-block;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    color: #a6a6a6;
    text-transform: uppercase;
    margin-right: 35px;
    cursor: pointer;
}
.ah-help-list li:hover{
	color: #fff;
}
.ah-help-list li.active {
    color: #fff !important;
}

.ah-help-list li:last-chold{
    margin-right: 0px;
}
.ah-help-wrapp{
    border-bottom: 1px solid #636364;
    padding: 20px 0px;
}
.ah-content404{
    position: relative;
    background: #ef4949;
    height: 100%;
    overflow: hidden;
}
.ah-page404-title{
    display: block;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.5px;
    color: #fff;
    text-align: center;
    margin-bottom: 35px;
}
.ah-page404-text{
    display: block;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #fff;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 35px;
}
.ah-page404-link{
    display: block;
    width: 240px;
    height: 50px;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 12px;
    letter-spacing: 2.4px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 2px;
    background: transparent;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 30px
}
.ah-page404-link:hover{
    color: #fff;
}
.ah-page404-span{
    display: block;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
}
.ah-page404-wrapp{
    margin-top: 189px;
}
.ah-page404-f1{
    position: absolute;
    display: block;
    top: -40px;
    left: 10%;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 404px;
    letter-spacing: 33.7px;
    color: #2b9eed;
    line-height: 50px;
}
.ah-page404-f2{
    position: absolute;
    display: block;
    top: 40%;
    right: -12%;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 404px;
    letter-spacing: 33.7px;
    color: #2b9eed;
    line-height: 50px;
}
.ah-page404-z{
    position: absolute;
    display: block;
    bottom: -60%;
    left: 30%;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 404px;
    letter-spacing: 33.7px;
    color: #2b9eed;
    line-height: 50px;
}
.ah-link-new{
    position: absolute;
    left: 40%;
    bottom: 8px;
}
.submit_my{
    display: block;
    width: 140px;
    height: 50px;
    border-radius: 2px;
    /* background-color: #ef4949; */
    background: #ef4949;
    letter-spacing: 2.4px;
    text-align: center;
    font-size: 12px;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    box-shadow: none;
    /* border-radius: 0; */
    /* border: none; */
    border: 1px solid transparent;
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
}
.ah-contbox .modal-body{
    padding: 35px 10px !important;
}
.ah-modal2-list{
    width: 580px;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.ah-modal2-list li{
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
}
.ah-modal2-list li:last-child{
    margin-right: 0px;
}
.ah-modal2-span{
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #cccccc;
    border-radius: 50%;
    border: 1.5px solid transparent;
    vertical-align: middle;
}
.ah-modal2-spanactive{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #ef4949;
}
.ah-modal2-title{
    display: block;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    width: 400px;
    margin: 0 auto;
    margin-top: 46px;
}
.ah-modal2-text{
    display: block;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 0 auto;
    margin-top: 17px;
    width: 400px;
}
.ah-modal2-link{
    display: block;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 12px;
    letter-spacing: 2.4px;
    line-height: 50px;
    text-align: center;
    width: 100px;
    height: 50px;
    background: #ef4949;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 60px;
}
.ah-modal2-link:hover{
    color: #fff;
}
.ah-modal2-wrapper{
    position: relative;
}
.ah-mad2left{
    margin: -11px 0 0 0;
    left: -61px;
    top: 50%;
}
.ah-mad2right{
    margin: -11px 0 0 0;
    right: -61px;
    top: 50%;
}
.ah-modal3-title{
    display: block;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 10px;
    letter-spacing: 2.9px;
    color: #404041;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
}
.ah-modal3-time{
    display: inline-block;
    height: 16px;
    font-family: 'MuseoSansCyrl-900',sans-serif;
    font-size: 7px;
    letter-spacing: 2px;
    color: #a6a6a6;
    text-align: center;
    padding-left: 25px;
    line-height: 16px;
    background: url(/assets/images/clock-icon-copy.png) left center no-repeat;
}
.ah-modal3-wrapper{
    text-align: center;
}
.ah-modal3-text{
    display: block;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #959595;
    margin-top: 5px;
}
.ah-form1{
    margin-top: 21px;
}
.ah-form1-list{
    display: inline-block;
    margin-top: 10px;
    margin-right: 105px;
}
.ah-form1-list li{
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    text-align: left;
    margin-left: 19px;
}

.span__my{
    position: absolute;
    margin-left: 5px;
    color: #959595;
}

.ah-form1-list li:first-child{
    padding-left: 10px;
}

.ah-form1-list li span{
    color: #959595;
}
.ah-form1 input[type="text"]{
    display: inline-block;
    width: 60px;
    height: 20px;
    background: transparent;
    border: 1px solid #cccccc;
    font-family: 'MuseoSansCyrl-900',sans-serif;
    font-size: 7px;
    letter-spacing: 2px;
    color: #a6a6a6;
    border-radius: 0px;
    outline: none;
}
.ah-inputwrap{
    position: relative;
}
.ah-arrbox{
    position: absolute;
    width: 12px;
    height: 20px;
    right: 2px;
    bottom: 7px;
    color: #a6a6a6;
    cursor: pointer;
}
.ah-arrtop{
    width: 12px;
    height: 10px;
}
.ah-ah-arrbot{
    width: 12px;
    height: 10px;
}
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
.fa{
    font-size: 10px;
}
.ah-modal3-link{
    width: 140px;
    margin-top: 40px;
}
.ah-workcreate-list li{
    display: inline-block;
    position: relative;
}
.ah-workcreate-list li:last-child{
    margin-right: 0px;
}
.ah-workcreate-list li a {
    cursor: pointer;
    display: inline-block;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    color: #a6a6a6;
    text-transform: uppercase;
    padding-right: 15px;
    margin-right: 5px;
    position: relative;
}
.ah-workcreate-list li a:hover{
    color: #fff;
}
.ah-workcreate-list li a.active {
    color: #fff !important;
    background: none;
}
.ah-workcreate-list li a ~ span {
    display: none;
}
.ah-workcreate-list li a.cl ~ span {
    display: block;
    background: url(/assets/images/x_filter2.svg) right 1px no-repeat;
    cursor: pointer;
    position: absolute;
    width: 9px;
    height: 9px;
    right: 5px;
    top: 5px;
}

.ah-workcreate-span{
    display: inline-block;
    color: #fff;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    color: #a6a6a6;
    text-transform: uppercase;
}
.ah-workcreate-list{
    display: inline-block;
    /*margin-left: 30px;*/
}
.ah-workcreate-wrapp{
    padding: 16px 0px;
    border-bottom: 1px solid #636364;
    margin: 0 53px 0 15px;
}
.ah-workcreate-wrapp11{
    padding: 16px 0px;
}
.ah-workcreate-cart{
    margin-top: -5px;
}
.ah-workcreate-list li:first-child{
    margin-right: 30px;
}
.ah-workcreate-span2-margin{
    margin-right: -4px!important;
}
.ah-container{
    padding: 0px 15px;
}
.ah-workcreate-list2{
    display: inline-block;
    margin-left: 30px;
}
.ah-workcreate-list2 li{
    display: inline-block;
    margin-right: 20px;
}
.ah-workcreate-list2 li:last-child{
    margin-right: 0px;
}
.ah-workcreate-span2 {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    border: 1px solid #636364;
    font-family: 'MuseoSansCyrl-900',sans-serif;
    font-size: 7px;
    letter-spacing: 2px;
    cursor: pointer;
    color: #a6a6a6;
    background: transparent;
    text-transform: uppercase;
}
.ah-workcreate-span2:hover {
    background: #636364;
}
.ah-workcreate-span2.active{
    background: #636364;
}
.ah-workcreate-spanclose{
    display: inline-block;
    float: right;
    font-family: 'MuseoSansCyrl-900',sans-serif;
    font-size: 7px;
    letter-spacing: 2px;
    color: #a6a6a6;
    text-transform: uppercase;
    margin-top: 15px;
}
.ah-workcreate-spanclose span{
    color: #fff;
    margin: 0 5px;
}
.ah-workcreate-close{
    position: relative;
    top: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(/assets/images/x.svg) right center no-repeat;
}
.ah-workcreate-list3{
    display: inline-block;
    float: right;
    margin-right: 10px;
}
.ah-workcreate-list3 li{
    display: inline-block;
    margin-right: 45px;
}
.ah-workcreate-list3 li:last-child{
    margin-right: 0px;
}
.ah-clock1{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(/assets/images/clock-icon-copy.png) center center no-repeat;
}
.ah-i_t{
    display: inline-block;
    width: 38px;
    height: 32px;
    background: url(/assets/images/thesis-icon-new.png) center center no-repeat;
    cursor: pointer;
    margin-left: 19px;
}
.ah-i_t:hover{
    background: url(/assets/images/thesis-icon-copy.png) center center no-repeat;
    transition: background 0.6s ease 0s;
}

.ah-i_clock{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(/assets/images/clock-icon-copy.png) center center no-repeat;
    cursor: pointer;
    margin-left: 19px;
}
.ah-i_clock:hover{
    background: url(/assets/images/clock-icon-copy-red.png) center center no-repeat;
    transition: background 0.6s ease 0s;
}


.ah-i_filter{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(/assets/images/options-2-new.png) center center no-repeat;
    cursor: pointer;
    margin-left: 20px;
}
.ah-i_filter:hover {
    background: url(/assets/images/options-2-copy.png) center center no-repeat;
    transition: background 0.6s ease 0s;
}
.ah-i_filter.active {
    background: url(/assets/images/options-2-copy.png) center center no-repeat;
    transition: background 0.6s ease 0s;
}
.main .block_right .header .right div.print{
    border-right: 1px solid #cccccc;
}
.ah-i_pencil{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(/assets/images/pencil-icon-new.png) center center no-repeat;
    cursor: pointer;
}
.main .block_right .header .right div:hover .ah-i_pencil{
    background: url(/assets/images/pencil-icon-copy.png) center center no-repeat;
    transition: background 0.6s ease 0s;
}

.tultip{
    background: rgba(0,0,0, 0.8);
    width: auto;
    position: absolute;
    top: 20px;
    left: 54px;
    display: none;

}
.tultip p{
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 11px;
    color: #fff;
    padding: 15px 15px 15px 15px;
    position: relative;
    white-space: nowrap;
    line-height: 16px;
    margin: 0;
    text-align: left;
    text-transform: initial;
    letter-spacing: 1px;
}

.tultip p::before {
    transform: rotate(180deg);
    content: '';
    position: absolute;
    left: 20px;
    top: -20px;
    border: 10px solid transparent;
    border-top: 10px solid rgba(0,0,0, 0.8);
}

.tultip-img:hover .tultip{
    display: block!important;
}

.tultip-img1:hover .tultip{
    display: block!important;
}
.tultip-img2:hover .tultip{
    display: block!important;
}
.tultip-img3:hover .tultip{
    display: block!important;
}
.tultip-img4:hover .tultip{
    display: block!important;
}
.tultip-img5:hover .tultip{
    display: block!important;
}
.tultip-img6:hover .tultip{
    display: block!important;
}
.tultip-img7:hover .tultip{
    display: block!important;
}

.tultip-img8 {
    position: relative;
}
.tultip-img8:hover .tultip{
    display: block!important;
}
.tultip-img8 .tultip {
    background: rgba(0,0,0, 0.8);
    width: auto;
    position: absolute;
    top: 46px;
    left: 8px;
    display: none;
}
.main .block_right .header .left div.tultip {
    display: none;
}

.tultip-img .tultip{
    top: 22px;
    left: -25px;
}

.tultip-img1 .tultip{
    top: 21px;
    left: -25px;
    z-index: 10;
}

.tultip-img2 .tultip{
    top: 21px;
    left: -25px;
    z-index: 10;
}
.tultip-img3 .tultip{
    top: 21px;
    left: -25px;
    z-index: 10;
}
.tultip-img4 .tultip{
    top: 21px;
    left: -25px;
    z-index: 10;
}
.tultip-img5 .tultip{
    top: 22px;
    left: -25px;
    z-index:10;
}

.tultip-img6 .tultip{
    top: 22px;
    left: 45px;
}

.tultip-img7 {
    cursor: pointer;
}
.tultip-img7 .tultip{
    top: -4px;
    left: 100px;
    z-index: 110;
}
.tultip-img71 {
    cursor: pointer;
}
.tultip-img71 .tultip{
    top: -4px;
    left: 100px;
    z-index: 110;
}
.tultip-img7 .tultip p:before{
    transform: rotate(90deg);
    left: -40px;
    bottom: 10px;
}
.tultip-img71 .tultip p:before{
    transform: rotate(90deg);
    left: -50px;
    bottom: 18px;
    top: -28px;
}

.tultip-img7{
    position: relative;
}
.tultip-img71{
    position: relative;
}

.tultip-img6{
    position: relative;
}

.tultip-img6 .tultip p{
    font-size: 9px;
}

.ah-item-tultip:hover .tultip{
    display: block!important;
}

.ah-item-tultip2{
    position: relative;
    cursor: pointer;
}

.ah-item-tultip2 .tultip{
    margin-top: 14px;

}

.ah-item-tultip2:hover .tultip{
    display: block!important;
}

.tultip-span1 .tultip{
    margin-top: 22px;
}

.tultip-span2 .tultip{
    margin-top: 22px;
}

.tultip-span3{
    position: relative;
}
.tultip-span3 .tultip{
    margin-top: 22px;
    left: 11px;
}
.tultip-span3:hover .tultip{
    display: block!important;
}

.tultip-span4{
    position: relative;
}
.tultip-span4 .tultip{
    margin-top: 26px;
    left: 11px;
}
.tultip-span4:hover .tultip{
    display: block!important;
}

.tultip-span1:hover .tultip{
    display: block!important;
}

.tultip-span2:hover .tultip{
    display: block!important;
}
.tultip-span3:hover .tultip{
    display: block!important;
}

.ah-item-tultip{
    display: inline-block;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    position: relative;
    font-size: 18px;
    letter-spacing: 1.5px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.ah-i_print{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(/assets/images/print-outline-new.png) center center no-repeat;
    cursor: pointer;
}
.main .block_right .header .right div:hover .ah-i_print{
    background: url(/assets/images/print-outline-copy.png) center center no-repeat;
    transition: background 0.6s ease 0s;
}
.ah-i_save{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(/assets/images/save-me.png) center center no-repeat;
    cursor: pointer;
}
.main .block_right .header .right div:hover .ah-i_save{
    background: url(/assets/images/cb-be-copy.png) center center no-repeat;
    transition: background 0.6s ease 0s;
}
.ah-tab1-tablewrapp{
    position: relative;
}
.ah-tab1-marker{
    position: absolute;
    width: 5px;
    height: 30px;
    top: 10px;
    left: 13.5%;
    background: url(/assets/images/my_point.png) top left no-repeat;
    overflow: hidden;
}
.active {
    color: #fff !important;
}
.ah-cardcreate{
    float: right;
}
.ah-spangrupp1{
    display: inline-block;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 7px;
    letter-spacing: 2px;
    color: #a6a6a6;
    width: 60px;
    height: 22px;
    border-radius: 2px;
    border: 1px solid #ccc;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    margin: 0px 7px;
    margin-left: 24px;
    cursor: pointer;
}
.ah-spangrupp1:hover{
    background: #ef4949;
    color: #fff;
    border: 1px solid transparent;
    transition: background 0.6s ease 0s;
}
.ah-spangrupp1.active {
    background: #ef4949;
    color: #fff;
    border: 1px solid transparent;
    transition: background 0.6s ease 0s;
}
.ah-addClass11{
    padding: 70px 100px 50px 100px !important;
}
.ah-title00{
    display: block;
    text-align: center;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.5px;
    color: #404041;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.ah-quest{
    position: relative;
    float: right;
    display: block;
    width: 20px;
    height: 20px;
    background: url(/assets/images/grey.svg) center center no-repeat;
    top: -35px;
    right: -35px;
}
.ah-quest:hover{
    background: url(/assets/images/grey_red.svg) center center no-repeat;
    transition: background 0.6s ease 0s;
}

.az-logo img {
    width: 196px;
    height: 140px;
}
.az-recommend {
    width: 100%;
    height: 100%;
    background-color: #404041;
    text-align: center;
    margin: 0 auto;
}
.az-recommend .az-rec-inner {
    width: 400px;
    margin: 0 auto;
}
.az-recommend h1 {
    margin-top: 219px;
    letter-spacing: 1.5px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    margin-bottom: 42px;
    line-height: 30px;
}
.az-link {
    margin-bottom: 18px;
    font-size: 0;
}
.az-link a, .az-link a:focus {
    display: inline-block;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: #fff;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 10px;
    text-decoration: none;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    opacity: 0.5;
}
.az-link a:hover, .az-link a:active {
    text-decoration: none;
    opacity: 1;
}



.az-500 {
    margin: 0 0 0 -640px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2b9eed;
    overflow: hidden;
    top: 0;
    left: 50%;
}

.az-nums span {
    display: inline-block;
    position: absolute;
    font-size: 404px;
    color: #ef4949;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    line-height: 404px;
    z-index: 1;
}
.az-nums .az-num1 {
    top: -53px;
    left: 43px;
}
.az-nums .az-num2 {
    bottom: -200px;
    left: 410px;
}
.az-nums .az-num3 {
    top: 110px;
    right: -56px;
}

.az-message {
    position: relative;
    margin: 189px auto 0;
    width: 400px;
    text-align: center;
}
.az-message h1 {
    letter-spacing: 1.5px;
    text-align: center;
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    font-family: 'MuseoSansCyrl-700',sans-serif;
    margin-bottom: 37px;
}
.az-message p {
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 44px;
    font-family: 'MuseoSansCyrl-500',sans-serif;
}

.az-link-back {
    font-size: 0;
}
.az-link-back a, .az-link-back a:focus {
    display: inline-block;
    width: 240px;
    height: 50px;
    border-radius: 2px;
    border: solid 1px #ffffff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: #fff;
    line-height: 50px;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}
.az-link-back a:hover, .az-link-back a:active {
    background-color: #fff;
    color: #2b9eed;
    text-decoration: none;
}

.az-mes-link {
    margin-top: 29px;
    position: relative;
    z-index: 3;
    font-size: 0;
}
.az-mes-link a, .az-mes-link a:focus {
    display: inline-block;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: #fff;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 10px;
    text-decoration: none;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    opacity: 0.5;
}
.az-mes-link a:hover, .az-mes-link a:active {
    text-decoration: none;
    opacity: 1;
}

.loader {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #404041;

}
.loader .loader_block {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
}
.loader .loader_block .img {
    text-align: center;
}
.loader h3 {
    height: 9px;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 7px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: #a6a6a6;
}
.modal .paidwin .modal-body {
    width: 600px;
    height: 200px;
}
.paidwin .ah-modal2-title {
    width: 350px;
}
.cards .item .name .time {
    display: block;
    font-size: 8px;
}
.cards .item .fix_height {
    height: 240px;
}
.cards .item ul.params li {
    max-height: 70px;
    overflow: hidden;
    margin-bottom: 12px;
    font-size: 9px;
    letter-spacing: 0.3px;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    color: #fff;
}
.color2 .top-line, .color2 .ah-link {
    background: #2b9eed;
}
.color2 .ah-link:hover {
    color: #2b9eed;
    background: transparent;
    border: 1px solid #2b9eed;
    transition: background 0.6s ease 0s;
}
.color2 .ah-tab1-span, .color2 .ah-list-span11 {
    color: #2b9eed;
}
.color2 .ah-tab2-icon, .color2 .ah-tab1-span a {
    background: url("/assets/images/copy_blue.svg") center center no-repeat;
}

.terms {
    font-size: 8px;
}
.service {
    position: relative;
}

.service span {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    content: '';
    border: 10px solid transparent;
    border-top: 10px solid rgba(0,0,0, 0.8);
    position: absolute;
    left: -20px;
    top: 10px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.service p:before {
    display: none;
}
.themes {
    position: relative;
}

.thesis .textarea {
    height: 25px;
    resize: none;
    overflow: hidden;
}
.divContainer {
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 5px;
    letter-spacing: 2px;
    font-size: 11px;
    line-height: 1.42857143;
    text-transform: uppercase;
    opacity: 0;
    height: 0;
}
#bullet {
    position: absolute;
    left: -15px;
}
.autoH.modal .modal-body {
    height: auto;
}

.theses-label {
    color: #9EA1A1;
    text-transform: uppercase;
    padding: 5px;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
}

.steps-container {
    padding: 20px;
    min-height: 200px;
}

.resize {
    cursor: e-resize;
}

.separator {
    float: right;
    margin-right: 0;
    width: 5px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}
.tultip p span {
    display: block;
}
.afterRegister .ah-link {
    margin: 0 auto;
    width: 150px;
    display: block;
    margin-top: 20px;
}
.main .block_right.full_w {
    padding-left: 0;
}

.modal-center-head {
    font-family: 'MuseoSansCyrl-700',sans-serif;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    text-align: center;
}