<div class="main">

    <div class="block_left">
        <div class="logo">
            <a [routerLink]="['']" >
                <img src="/assets/images/logo.jpg" />
            </a>
        </div>

        <!--
        <div class="lang">
            <a href="#" class="active">
                RU
            </a>
            |
            <a href="#">
                EN
            </a>
        </div>
        -->

        <div class="menu">
            <ul>
                <li>
                    <a [routerLink]="['cards/filters/energyUp']" routerLinkActive="active">Методики</a>
                </li>
                <li class="room">
                    <a onclick="yaCounter43968854.reachGoal('Zanyatie_menu');ga('send', 'Zanyatie_menu');return true;" [routerLink]="['work']" routerLinkActive="active">Занятия</a>
                </li>
                <li>
                    <a [routerLink]="['help']" routerLinkActive="active">Обучение</a>
                </li>
                <!--
                <li  *ngIf="isAuth">
                    <a (click)="openPaid()">Оплата</a>
                </li>
                -->
            </ul>
        </div>

        <div class="login">
            <div class="auth" >
                <div class="img">
                    <a (click)="exit($event)"  class="i_close" [ngClass]="isAuth ? '' : 'hidden'">
                        <img src="/assets/images/x-red.png"
                             srcset="/assets/images/x-red@2x.png 2x, /assets/images/x-red@3x.png 3x"
                        >
                    </a>
                    <div [ngClass]="isAuth ? 'hidden' : ''" class="img_login" (click)="openLogin($event)" >
                        <img src="/assets/images/i_login.png" alt="Войти">
                    </div>
                    <div [ngClass]="isAuth ? '' : 'hidden'" class="img_login">
                        <img src="{{user.img}}" alt="{{user.name}}">
                    </div>
                </div>
                <div [ngClass]="isAuth ? 'hidden' : ''" class="linkA isEsc" (click)="openLogin($event)">
                    войти
                </div>
                <div [ngClass]="isAuth ? '' : 'hidden'" class="linkA">
                    {{user.name}}
                </div>
            </div>
            <a href="mailto:ko@ikraikra.ru?subject=Сообщить об ошибке">Сообщить об ошибке</a>
            <a href="mailto:ko@ikraikra.ru?subject=Задать вопрос">Задать вопрос</a>
            <p class="print">
                © ИКРА 2017
            </p>
        </div>
    </div>


    <div class="block_right">
        <div class="loader hidden">
            <div class="loader_block">
                <div class="img">
                    <img src="/assets/images/loader.gif" alt="Загрузка">
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>

<login></login>
<modal-after-register></modal-after-register>
<modal-paidwin></modal-paidwin>
<modal-paid></modal-paid>