<modal class="addClass cardCreate" [animation]="animationsEnabled" #modal>
    <modal-body>
        <div class="close" (click)="modal.close()">

        </div>
        <div *ngIf="done">
            <div class="erorrs" *ngFor="let error of errors">
                {{error}}
            </div>
            <div class="success hidden">
                <h3>
                    Ура вы добавили методику
                </h3>
                <div (click)="modal.close()">
                    Далее
                </div>
            </div>
        </div>
        <form (ngSubmit)="onSubmit(card)">
            <div class="form-group name">
                <input type="text" class="form-control"
                       name="Card[name]"
                       placeholder="Название"
                       [(ngModel)]="card.name"
                />
            </div>

            <div class="form-group cardText">
                <div class="label">
                    <div class="img tultip-img">
                        <img src="/assets/images/copy.svg"
                             srcset="/assets/images/copy.svg 2x, /assets/images/copy.svg 3x">
                        <div class="tultip">
                            <p>последовательность выполнения методики, где каждый шаг – это отдельное действие учеников или учителя</p>
                        </div>
                    </div>
                    <div class="text">
                        Шаги
                    </div>
                </div>
                <div class="block">
                    <div class="item" [class.hidden]="i > 0" *ngFor="let step of card.stepsCount; let i = index">
                        <div class="number">
                            {{step}}
                        </div>
                        <div class="input">
                            <input type="text" class="form-control"
                                placeholder="последовательность выполнения методики, где каждый шаг – это отдельное действие учеников или учителя"
                                name="Card[steps][]"
                                [(ngModel)]="card.steps[i]"
                           />
                        </div>
                    </div>
                </div>
                <div class="addBt" (click)="addStep($event)" >
                    + Добавить шаг
                </div>
            </div>

            <div class="form-group targetTeachers target">
                <div class="label">
                    <div class="img tultip-img1">
                        <img src="/assets/images/copy.svg"
                             srcset="/assets/images/copy.svg 2x, /assets/images/copy.svg 3x">
                        <div class="tultip">
                            <p>классификация целей преподавания</p>
                        </div>
                    </div>
                    <div class="text">
                        Цели по Блуму:
                    </div>
                </div>
                <div class="items">
                    <div (click)="selectTeacher(target.id, $event)" class="item"
                         *ngFor="let target of targetTeachersAll, let i = index"
                    >
                        {{target.name}}
                    </div>
                </div>
                <input type="hidden" class="form-control"
                       name="Card[targetTeachers][]"
                       [(ngModel)]="card.targetTeachers"/>
            </div>

            <div class="form-group targetsPupil target">
                <div class="label">
                    <div class="img tultip-img2">
                        <img src="/assets/images/copy.svg"
                             srcset="/assets/images/copy.svg 2x, /assets/images/copy.svg 3x">
                        <div class="tultip">
                            <p>навыки для профессиональной и личной самореализации</p>
                        </div>
                    </div>
                    <div class="text">
                        Компетенции 4К:
                    </div>
                </div>
                <div class="items">
                    <div (click)="selectPupil(target.id, $event)" class="item" *ngFor="let target of targetPupilsAll">
                        {{target.name}}
                    </div>
                </div>
                <input type="hidden" class="form-control"
                       name="Card[targetPupils][]"
                       [(ngModel)]="card.targetPupils"/>
            </div>


            <div class="form-group steps target">
                <div class="label">
                    <div class="img tultip-img3">
                        <img src="/assets/images/copy.svg"
                             srcset="/assets/images/copy.svg 2x, /assets/images/copy.svg 3x">
                        <div class="tultip">
                            <p>для какой из частей занятия данная методика наиболее актуальна</p>
                        </div>
                    </div>
                    <div class="text">
                        Этапы:
                    </div>
                </div>
                <div class="items">
                    <div (click)="selectType(i+1, $event)" class="item" *ngFor="let type of card.useTypeArray; let i = index">
                        {{type}}
                    </div>
                </div>
                <input type="hidden" class="form-control"
                       name="Card[use_type]"
                       [(ngModel)]="card.use_type"/>
            </div>


            <div class="form-group colorType target">
                <div class="label">
                    <div class="img tultip-img4">
                        <img src="/assets/images/copy.svg"
                             srcset="/assets/images/copy.svg 2x, /assets/images/copy.svg 3x">
                        <div class="tultip">
                            <p>влияние методики на энергию аудитории</p>
                        </div>
                    </div>
                    <div class="text">
                        Энергия аудитории:
                    </div>
                </div>
                <div class="items">
                    <div (click)="selectColor(i+1, $event)"
                         [class.active]="(i+1) == 1"
                         class="item"
                         *ngFor="let type of card.colorTypeArray; let i = index"
                    >
                        {{type}}
                    </div>
                </div>
                <input type="hidden" class="form-control"
                       name="Card[color_type]"
                       [(ngModel)]="card.color_type"/>
            </div>

            <div class="form-group individualTypeArray target">
                <div class="label">
                    <div class="img">
                        <!--<img src="/assets/images/copy.svg"-->
                             <!--srcset="/assets/images/copy.svg 2x, /assets/images/copy.svg 3x">-->
                    </div>
                    <div class="text">
                        Группа:
                    </div>
                </div>
                <div class="items">
                    <div (click)="selectIndividual(i+1, $event)"
                         [class.active]="(i+1) == 1"
                         class="item"
                         *ngFor="let type of card.individualTypeArray; let i = index"
                    >
                        {{type}}
                    </div>
                </div>
                <input type="hidden" class="form-control"
                       name="Card[individual_type]"
                       [(ngModel)]="card.individual_type"/>
            </div>

            <div class="form-group isGroup">
                <div class="img">
                    <!--<img src="/assets/images/copy.svg"-->
                         <!--srcset="/assets/images/copy.svg 2x, /assets/images/copy.svg 3x">-->
                </div>
                <div class="text">
                    <span class="ah-spangrupp">для больших групп:</span>
                    <a (click)="changeBig($event, 1)" class="ah-spangrupp1" [ngClass]="card.is_big_groups == '1' ? 'active' : ''">
                        да
                    </a>
                    <a (click)="changeBig($event, 0)" class="ah-spangrupp1" [ngClass]="card.is_big_groups == '0' ? 'active' : ''">
                        нет
                    </a>
                    <input type="hidden" name="Card[is_big_groups]"
                           [(ngModel)]="card.is_big_groups"
                    />
                </div>
            </div>

            <div class="form-group time">
                <div class="label">
                    <div class="img tultip-img5">
                        <img src="/assets/images/copy.svg"
                             srcset="/assets/images/copy.svg 2x, /assets/images/copy.svg 3x">
                        <div class="tultip">
                            <p>Возможность установки точного времени работы с методиками при планировании занятия</p>
                        </div>
                    </div>
                    <div class="text">
                        время:
                    </div>
                </div>
                <div class="input">
                    <input type="text" class="form-control"
                        name="Card[time]"
                        [(ngModel)]="card.time"/> мин
                </div>
            </div>

            <div class="submit">
                <input type="submit" value="Создать" />
            </div>
        </form>
    </modal-body>
</modal>
