<div class="content ah-content">
	<div class="card-header ah-card-header">
		<div class="ah-cardtitle">
			<span class="ah-cardtitle-span">Методики</span>
			<div class="link-create-card ah-link-create-card ah-cardcreate" (click)="createCard($event)">
				Создать методику
			</div>
		</div>
	</div>

	<div class="row">

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        	<ul class="ah-cardfilter-list">
        		<li>
        			<span class="ah-cardfilter-title">энергия:</span>
        			<ul class="ah-cardfilter-sublist">
        				<li [routerLink]="['/cards/filters', 'energyUp']">
        					<span class="ah-cardfilter-span" [ngClass]="param == 'energyUp' ? 'active' : ''">
								повышение
								<span>
								 	({{filter?.energyUp}})
								</span>
							</span>
        				</li>
        				<li [routerLink]="['/cards/filters', 'energyDown']">
        					<span class="ah-cardfilter-span" [ngClass]="param == 'energyDown' ? 'active' : ''">
								понижение
								<span>
									({{filter?.energyDown}})
								</span>
							</span>
        				</li>
        			</ul>
        		</li>
        		<li>
        			<span class="ah-cardfilter-title">
						этапы занятия:
					</span>

        			<ul class="ah-cardfilter-sublist">
        				<li [routerLink]="['/cards/filters', 'start']">
        					<span class="ah-cardfilter-span" [ngClass]="param == 'start' ? 'active' : ''">
								начало
								<span>
									({{filter?.start}})
								</span>
							</span>
        				</li>
        				<li [routerLink]="['/cards/filters', 'center']">
        					<span class="ah-cardfilter-span" [ngClass]="param == 'center' ? 'active' : ''">
								суть
								<span>
									({{filter?.center}})
								</span>
							</span>
        				</li>
        				<li [routerLink]="['/cards/filters', 'finish']">
        					<span class="ah-cardfilter-span" [ngClass]="param == 'finish' ? 'active' : ''">
								финал
								<span>
									({{filter?.finish}})
								</span>
							</span>
        				</li>
        			</ul>

        		</li>

				<li>
        			<span class="ah-cardfilter-title">
						 Цели по Блуму:
					</span>
					<ul class="ah-cardfilter-sublist">
						<li
								[routerLink]="['/cards/filters', 'targetTeacher-'+item?.name]"
								*ngFor="let item of filter?.targetTeachers;"
						>
        					<span class="ah-cardfilter-span" [ngClass]="param == 'targetTeacher-'+item?.name ? 'active' : ''">
								{{item?.name}}
								<span>
									({{item?.count}})
								</span>
							</span>
						</li>
					</ul>
				</li>

				<li>
        			<span class="ah-cardfilter-title">
						 Компетенции 4K:
					</span>
					<ul class="ah-cardfilter-sublist">
						<li
								[routerLink]="['/cards/filters', 'targetPupil-'+item?.name]"
								*ngFor="let item of filter?.targetPupils;"
						>
        					<span class="ah-cardfilter-span" [ngClass]="param == 'targetPupil-'+item?.name ? 'active' : ''">
								{{item?.name}}
								<span>
									({{item?.count}})
								</span>
							</span>
						</li>
					</ul>
				</li>

				<li>
					<span class="ah-cardfilter-title">
						Формат проведения:
					</span>
					<ul class="ah-cardfilter-sublist">
						<li [routerLink]="['/cards/filters', 'bigGroupsDown']">
        					<span class="ah-cardfilter-span" [ngClass]="param == 'bigGroupsDown' ? 'active' : ''">
								Индивидуальная
								<span>
									({{filter?.bigGroupsDown}})
								</span>
							</span>
						</li>
						<li [routerLink]="['/cards/filters', 'bigGroupsUp']">
        					<span class="ah-cardfilter-span" [ngClass]="param == 'bigGroupsUp' ? 'active' : ''">
								Групповая
								<span>
									({{filter?.bigGroupsUp}})
								</span>
							</span>
						</li>
					</ul>
				</li>

        	</ul>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
			<div class="cards">
				<div id="{{card.id}}"
					 class="itemCard card item color{{card.color_type}}"
					 *ngFor="let card of cards"
				>
					<div (click)="openView($event, card.id)" class="fix_height">
						<div class="name">
							{{card.name}}
							<span class="time">время: {{card.time}} мин.</span>
						</div>

						<ul class="ah-filterwrapp-list">
							<li  [ngClass]="card.use_type.indexOf('Начало') != -1 ? 'ah-filtr-active' : ''" >
								начало
							</li>
							<li [ngClass]="card.use_type.indexOf('Середина') != -1  ? 'ah-filtr-active' : ''">
								суть
							</li>
							<li [ngClass]="card.use_type.indexOf('Конец') != -1 ? 'ah-filtr-active' : ''">
								финал
							</li>
						</ul>
						<span class="ah-filterwrapp-span">
									{{card.individual_type}}
								</span>

						<ul class="params">
							<li *ngIf="card.targetTeachers">
								Цели по Блуму:
								<span *ngFor="let target of card.targetTeachers">
                                                        {{target.name}}
                                                    </span>
							</li>
							<li *ngIf="card.targetPupils">
								Компетенции 4K:
								<span *ngFor="let target of card.targetPupils">
                                                        {{target.name}}
                                                    </span>
							</li>
						</ul>
					</div>
					<div class="pull-right">
						<a class="ah-filterwrapp-link2"
						   [ngClass]="card?.cardUser?.id ? 'active' : ''"
						   (click)="like($event, card)"></a>
					</div>
				</div>
			</div>
        </div>


	</div>

</div>

<login></login>
<modal-work></modal-work>
<card-create></card-create>
<cards-view (enterViewModal)="enterViewModal($event)"></cards-view>
<help-modal></help-modal>
<help-modal2 (onClose)="onClose($event)"></help-modal2>
