<modal class="addClass madal-newpadd" [animation]="animationsEnabled" #modal>
    <modal-body>
        <div class="row color{{card.color_type}}">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ah-wrapp">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="top-line">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="ah-table">
                                            <div class="ah-cell1">
												<span class="ah-title">
													{{card.name}}
												</span>
                                            </div>
                                            <div class="ah-cell2">
                                                <span class="ah-clock">
                                                    {{card.time}} мин.
                                                </span>
                                            </div>
                                            <div class="ah-cell3">
                                                <a class="ah-cell3-close" (click)="modal.close($event)"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="ah-tabsbox steps-container">
                                <div class="ah-tab1-tablewrapp">

                                    <div class="ah-tab1-table" *ngFor="let step of card.cardText; let i = index">
                                        <div class="ah-tab1-marker"></div>
                                        <div class="ah-tab1-left">
                                                    <span class="ah-tab1-span">
                                                        шаг {{i+1}}
                                                        <a *ngIf="step.popup">
                                                            <div class="tultip">
                                                                <p>
                                                                    <span *ngFor="let popuptext of step.popup.text_array;">
                                                                    {{popuptext}}
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </a>
                                                    </span>
                                        </div>
                                        <div class="ah-tab1-right">
                                                    <span class="ah-tab1-span1">
                                                        {{step.text}}
                                                    </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <ul class="ah-list">
                                <li>
                                    <span class="ah-buttom-span">
                                        автор:
                                        <span>
                                            {{card?.user?.name}}
                                        </span>
                                    </span>
                                </li>
                                <li>

                                </li>
                                <li>
                                    <span class="ah-buttom-span1">
                                        <a
                                                [ngClass]="card?.cardUser?.id ? 'active' : ''"
                                                (click)="like($event, card)">

                                        </a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a (click)="prevView($event, card.id)" class="ah-wrapp-left"></a>
                    <a (click)="nextView($event, card.id)" class="ah-wrapp-right"></a>
                </div>
            </div>
        </div>
    </modal-body>
</modal>
