<div class="content ah-content" xmlns="http://www.w3.org/1999/html">

	<div class="works">

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ah-help-wrapp">
					<span class="ah-help-title">
						Обучение
					</span>
					<ul class="ah-help-list">
						<li (click)="switchWork($event, 1)" class="active">
							Методики
						</li>
						<li (click)="switchWork($event, 2)">
							Занятия
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="header_name">
			<div class="header_name1">
				№
			</div>
			<div class="header_name2">
				Название
			</div>
		</div>


		<div class="item" data-status="1" (click)="pageOpen($event)">
			<div class="ah-worksdiv1">
				1
			</div>
			<div class="ah-worksdiv2">
				Таксономия Блума
			</div>
			<div class="text textBlock hidden">
				<p>
					Что это?
				</p>
				<p>
					Таксономия Блума — это классификация целей преподавания. Она помогает планировать уроки вокруг опыта учащихся вместо опоры на контент. Пользуясь таксономией, можно связать конкретную деятельность учеников и измеримые результаты их обучения.
				</p>
				<p>
					В конструкторе мы будем работать со следующими уровнями, которые отражают иерархию образовательных целей и формируют задачи обучения:
				</p>
				<p>
					1. <strong>Помнить</strong> — умение запоминать и воспроизводить материал.<br />
					2. <strong>Понимать</strong> — умение объяснять и интерпретировать изученный материал.<br />
					3. <strong>Применять</strong> — умение использовать изученный материал и переносить изученное в другую сферу.<br />
					4. <strong>Анализировать</strong> — умение выделять части материала из целой структуры.<br />
					5. <strong>Оценивать</strong> — навык судить о предмете на основе заданных критериев и давать обратную связь по его сути.<br />
					6. <strong>Создавать</strong> —  умение создавать новые смыслы, объекты и структуры.
				</p>
				<p>
					Источник
				</p>
				<p>
					Эту таксономию разработала группа ученых во главе с Бенджамином Блумом в 1956 году. Цели преподавания в соответствии с таксономией делятся на три сферы: когнитивную («знаю»), аффективную («чувствую») и психомоторную («творю»).
				</p>
				<p>
					Дополнительные источники:<br/>
					The New Taxonomy of Educational Objectives by Robert J. Marzano and John S. Kendall, 2006;
					How to use Bloom’s Taxonomy in the Classroom: The Complete Guide (The “How To…” Great Classroom Teaching Series)  —  by Mike Gershon.
					<a href="http://www.intel.ru/content/dam/www/program/education/emea/ru/ru/documents/project-design1/thinking-skills/bloom-taxonomy.pdf" target="_blank">
						http://www.intel.ru/content/dam/www/program/education/emea/ru/ru/documents/project-design1/thinking-skills/bloom-taxonomy.pdf
					</a>
				</p>
				<p>
					Как пользоваться?
				</p>
				<p>
					1. Проанализируйте цели, которые были сформулированы на весь курс. Выберите, какие из уровней познания учащиеся готовы осваивать в рамках изучаемой темы урока.<br />
					2. Сформулируйте цели обучения.<br />
					3. Подберите необходимые методики, соответствующие сформулированным целям обучения.<br />
					4. Составьте из основных и сопутствующих методик план урока.<br />
				</p>
				<p>
					Пример
				</p>
				<p>
					1. Вы готовите урок для 8 класса по курсу истории; тема урока «Реформы Петра I». По программе, ученикам необходимо обучиться исследовательским методам работы с источниками.<br />
					2. Описанные в программе задачи соответствуют уровню «Помнить», но аудитория уже владеет теоретическими знаниями, и ещё одна лекция не имеет смысла.<br />
					3. Вам необходимо выбрать цели для развития исследовательских навыков: «Понимать» и «Анализировать».<br />
						<span>a. Цель «Понимать» трансформируется в задачу «Проиллюстрировать различия реформ Петра I и Алексея Романова».</span><br />
						<span>b. Цель «Анализировать» становится задачей «Рассмотреть и подготовить доклад о противоречиях реформаторской деятельности Петра I».</span><br />
					4. Чтобы достигнуть выбранных целей, следует выбрать те методики, на которых указана желаемая цель по Блуму.<br />
						<span>a. Для иллюстрации противоречий в реформах подходит карточка «Две правды и одна ложь» с пометкой «Понимать».</span><br />
						<span>b. Для доклада о противоречиях подойдет карточка «Шесть Шляп Мышления» с пометкой «Анализировать».</span>
				</p>
			</div>
		</div>

		<div class="item" data-status="1" (click)="pageOpen($event)">
			<div class="ah-worksdiv1">
				2
			</div>
			<div class="ah-worksdiv2">
				«4К»: навыки 21 века
			</div>

			<div class="text textBlock hidden">
				<p>
					Что это?
				</p>
				<p>
					4 «К»: коммуникация, креативность, критическое мышление и командная работа. Эти навыки признаны самыми важными для профессиональной и личной самореализации, именно поэтому их следует учитывать при планировании уроков. В «Конструкторе опыта» в каждой методике отмечены те навыки, которые она развивает.
				</p>
				<p>
					<strong>Коммуникация</strong> — умение воспринимать, объяснять и делиться информацией.
					<strong>Креативность</strong> — способность принимать нестандартные и творческие решения при создании нового материала.
					<strong>Командная работа</strong> — умение сотрудничать и правильно распределять задачи. Критическое мышление — навык анализа и интерпретирования различных явлений, и выявление связей между ними.
				</p>
				<p>
					Источник
				</p>
				<p>
					Идея 4 «К» была предложена компанией
					<a href="http://www.p21.org/" target="_blank">"Partnership for 21st Century Skills"</a>,
					которая занимается консалтингом в образовании. Цель проекта —  ориентирование образовательных программ на реальный практический результат: те вопросы, с которыми мы сталкиваемся в повседневной в жизни и на работе.
				</p>
				<p>
					Эти четыре навыка особенно важны, так как именно они определяют способности человека к обучению и инновациям в постиндустриальной экономике. Помимо этого, разработчики концепции рассматривают и предметные навыки: умение работать с информацией и методы профессионального развития.
				</p>
				<p>
					Дополнительно:
				</p>
				<p>
					<a href="http://www.nea.org/assets/docs/A-Guide-to-Four-Cs.pdf" target="_blank">
						http://www.nea.org/assets/docs/A-Guide-to-Four-Cs.pdf
					</a>
					<a href="https://k12.thoughtfullearning.com/FAQ/what-are-learning-skills" target="_blank">
						https://k12.thoughtfullearning.com/FAQ/what-are-learning-skills
					</a>
				</p>
				<p>
					Как пользоваться?
				</p>
				<p>
					1. Выбрать один из четырех навыков, который вы хотите развить в ваших учениках.<br />
					2. Подобрать методики, которые соответствуют этим навыкам.<br />
					3. Составить урок из выбранных вами методик.<br />
				</p>
				<p>
					Пример
				</p>
				<p>
					1. Вы преподаете политическую теорию для старших курсов ВУЗа.<br />
					2. Вам необходимо, чтобы на втором семинаре по «Полемике Хабермаса» студенты одновременно задействовали навыки коммуникации и креативности.<br />
					3. Коммуникация в данном контексте — это умение слушать и выделять главное, а креативность — умение формулировать четкие вопросы для глубокого анализа и понимания предмета.<br />
					4. Для этих задач подойдут карточки «Все на одного» и «Битва вопросами». Выберите их и используйте в занятии.
				</p>
			</div>
		</div>


		<div class="item" data-status="1" (click)="pageOpen($event)">
			<div class="ah-worksdiv1">
				3
			</div>
			<div class="ah-worksdiv2">
				Энергия аудитории
			</div>
			<div class="text textBlock hidden">
				<p>
					Что это?
				</p>
				<p>
					Эмоциональное и физическое состояние аудитории серьезно влияют на эффективность занятия. Основным объединяющим параметром является энергия группы. Энергия обозначена на карточках красным и синим цветом.
				</p>
				<p>
					Методики, которые повышают энергию:
					— групповое взаимодействие (общение, обсуждение, спор);
					— перемещение по аудитории (физическая активность);
					— ограничение ресурсов (давление времени).
				</p>
				<p>
					Методики, которые понижают энергию:
					— индивидуальные задания;
					— задания на концентрацию и анализ.
				</p>
				<p>
					Как пользоваться?
				</p>
				<p>
					Наиболее эффективны занятия, в которых энергия сбалансирована. Для этого необходимо чередовать повышающие и понижающие энергию методики.
				</p>
				<p>
					При составлении структуры занятия следите за тем, чтобы цвета карточек чередовались. Если вы заметили, что в таймлайне занятия подряд используются несколько карточек одного цвета, при поиске следующих методик включите фильтр по энергии.
				</p>
				<p>
					Пример
				</p>
				<p>
					1. Вы ведете занятие по профориентации для 9 класса. Вы уже<br />
					— познакомились с учениками, используя красную методику «Придумай прозвище»,<br />
					— обсудили контекст вопроса с помощью синей методики «Облако проблем»,<br />
					— обсудили цели занятия по синей методике «Сверим часы».<br />
					2. Вы заметили, что используете две синие методики подряд, и вам необходимо поднять энергию аудитории. Для этого следует выбрать одну из красных карт, например, методику «В других условиях». В соответствии с ней, предложите командам разные способы профессионального самоопределения и попросите найти плюсы и минусы каждой профессии.
				</p>
			</div>
		</div>

		<div class="item" data-status="1" (click)="pageOpen($event)">
			<div class="ah-worksdiv1">
				4
			</div>
			<div class="ah-worksdiv2">
				Этапы занятия: начало, суть, финал
			</div>
			<div class="text textBlock hidden">
				<p>
					Что это?
				</p>
				<p>
					Структура любого занятия состоит из трех этапов: начало, суть и финал. У каждого из этих этапов есть определенная цель.
					На этапе «Начало» обычно происходит знакомство (взаимодействие с аудиторией), постановка темы, выбор цели занятия и определение правил взаимодействия.
				</p>
				<p>
					Этап «Суть» обычно посвящен получению теоретических знаний и отработке полученных навыков.
				</p>
				<p>
					На этапе «Финал» следует установить обратную связь и провести рефлексию.
				</p>
				<p>
					Как пользоваться?
				</p>
				<p>
					Каждый из этапов стандартного занятия планируется в следующей пропорции: начало — 15%, суть — 70%, финал — 15%. Однако, это распределение меняется в зависимости от программы занятий на курсе.
					Если вы проводите первое занятие, распределение может выглядеть так:
					40% — начало, 50% — суть, 10% — финал.
					Если это последнее занятие курса, то соотношение будет следующим:
					10% — начало; 40% — суть; 50% — финал.
				</p>
				<p>
					1. Планируйте занятия последовательно и поэтапно. Используйте для этого карточки с маркерами «Начало», «Суть» и «Финал».<br>
					2. Следите за соотношением временных пропорций каждого из этапов.<br>
					3. Если на карточке указаны несколько маркеров (начало и суть, суть и финал или все три маркера сразу), данная карточка универсальна, и её можно использовать на разных этапах занятия.
				</p>
				<p>
					Пример
				</p>
				<p>
					1. Вы планируете занятие «Введение в профессию “креативщик”». Начните занятие со знакомства, определите уровень знаний аудитории о данной профессии и определите цель текущего занятия для студентов.<br>
					2. Выбирайте карточки по фильтру (к примеру, «Быстрые знакомства»). Определите знания студентов с помощью методики «Распространенные заблуждения» и установите цели занятия с методикой «Заполни все».
				</p>
			</div>
		</div>


		<div
				class="item hidden"
				*ngFor="let work of works; let i = index"
				[routerLink]="['/work/', work.id]"
				[attr.data-status]="2"
		>
			<div class="ah-worksdiv1">
				{{i+1}}
			</div>
			<div class="ah-worksdiv2">
				{{work.name}}
			</div>
		</div>

	</div>


</div>

