<modal class="helpModal ah-contbox" [animation]="animationsEnabled" #modal (click)="closeParent()">
    <modal-body>
        <div class="close" (click)="close()"></div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ah-modal2-wrapper">
	            	<span class="ah-modal2-title">
						Хотите создать новую методику?
					</span>
                    <p class="ah-modal2-text">
                        Здесь вы найдете всю необходимую информацию.
                    </p>

                    <p class="ah-modal2-text">
                        Поделитесь своими знаниями с другими и предложите свою педагогическую методику!
                    </p>

                    <p class="ah-modal2-text">
                        Чтобы вашей методикой было удобно пользоваться другим пользователям, следуйте нашему образцу.
                    </p>
                    <p class="ah-modal2-text">
                        Когда ваша методика будет одобрена нашими кураторами, другие пользователи получат доступ к ее использованию.
                    </p>

                </div>
            </div>
        </div>
    </modal-body>
</modal>
