<modal class="helpModal helpModal1 ah-contbox" [animation]="animationsEnabled" #modal>
    <modal-body>
        <div class="close" (click)="close()"></div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="ah-modal2-list">
                    <li>
                        <span data-slide="1" (click)="slideOpen(1)" class="ah-modal2-span ah-modal2-spanactive"></span>
                    </li>
                    <li>
                        <span data-slide="2" (click)="slideOpen(2)" class="ah-modal2-span"></span>
                    </li>
                    <li>
                        <span data-slide="3" (click)="slideOpen(3)" class="ah-modal2-span"></span>
                    </li>
                </ul>

                <div class="ah-modal2-wrapper" data-slide="1">
                    <span class="ah-modal2-title">
                        Добро пожаловать в библиотеку методик!
                    </span>
                    <p class="ah-modal2-text">
                        В этом разделе  вы можете познакомиться со всеми методиками преподавания, собранными в Конструкторе Опыта. Методики - это  форматы для передачи контента.
                    </p>
                </div>



                <div class="ah-modal2-wrapper hidden" data-slide="2">
                    <span class="ah-modal2-title">
                        Добро пожаловать в библиотеку методик!
                    </span>
                    <p class="ah-modal2-text">
                        Чтобы вам было удобно изучать методики, мы отсортировали их по параметрам: энергия аудитории,
                        этап занятия, цели по Блуму, компетенция 4к, формат проведения
                        (подробно о параметрах - <a [routerLink]="['/help']">здесь</a>).
                    </p>
                    <p class="ah-modal2-text">
                        Выбирайте любой параметр, и изучайте методики, которые ему соответствуют. Каждая карточка соответствует одной методике преподавания. При клике на карточку раскрывается подробное описание методики.
                    </p>
                </div>

                <div class="ah-modal2-wrapper hidden" data-slide="3">
                    <span class="ah-modal2-title">
                        Добро пожаловать в библиотеку методик!
                    </span>
                    <p class="ah-modal2-text">
                        Помимо изучения, в этом разделе вы можете создавать свои собственные методики, чтобы
                        потом использовать для создания вашего сценария занятий.
                    </p>
                    <p class="ah-modal2-text">
                        Наша библиотека регулярно пополняется. Уверены, вы найдете для себя много интересного и
                        полезного!
                    </p>
                </div>
            </div>
        </div>
        <a (click)="nextSlide($event)" class="ah-link ah-link-new">
            ДАЛЕЕ
        </a>
        <a (click)="prevSlide($event)" class="ah-wrapp-left ah-mad2left"></a>
        <a (click)="nextSlide($event)" class="ah-wrapp-right ah-mad2right"></a>
    </modal-body>
</modal>