<modal class="helpModal helpModal4 ah-contbox" [animation]="animationsEnabled" #modal>
    <modal-body>
        <div class="close" (click)="close()"></div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <ul class="ah-modal2-list">
                    <li>
                        <span data-slide="1" (click)="slideOpen(1)" class="ah-modal2-span ah-modal2-spanactive"></span>
                    </li>
                    <li>
                        <span data-slide="2" (click)="slideOpen(2)" class="ah-modal2-span"></span>
                    </li>
                    <li>
                        <span data-slide="3" (click)="slideOpen(3)" class="ah-modal2-span"></span>
                    </li>
                    <li>
                        <span data-slide="4" (click)="slideOpen(4)" class="ah-modal2-span"></span>
                    </li>
                    <li>
                        <span data-slide="5" (click)="slideOpen(5)" class="ah-modal2-span"></span>
                    </li>
                    <li>
                        <span data-slide="6" (click)="slideOpen(6)" class="ah-modal2-span"></span>
                    </li>
                    <li>
                        <span data-slide="7" (click)="slideOpen(7)" class="ah-modal2-span"></span>
                    </li>
                </ul>

                <div class="ah-modal2-wrapper" data-slide="1">
                    <span class="ah-modal2-title">
                        Фильтры методик
                    </span>
                    <p class="ah-modal2-text">
                        Для выбора подходящих методик  воспользуйтесь фильтрами.  Каждый фильтр имеет несколько параметров. В некоторых фильтрах можно выбрать сразу несколько параметров для фильтрации.
                        Для того, чтобы отключить выбранные параметры, кликните по красному крестику рядом с названием фильтра.
                    </p>
                </div>


                <div class="ah-modal2-wrapper hidden" data-slide="2">
                    <span class="ah-modal2-title">
                        Область с карточками
                    </span>
                    <p class="ah-modal2-text">
                        На странице создания занятия вы увидите все методики в виде карточек-превью. Всю информацию по методике можно увидеть, кликнув по карточке.
                        Чтобы использовать методику в своём занятии, перетащите её на шкалу времени внизу или нажмите кнопку &laquo;применить&raquo;.
                    </p>
                </div>

                <div class="ah-modal2-wrapper hidden" data-slide="3">
                    <span class="ah-modal2-title">
                        Шкала времени
                    </span>
                    <p class="ah-modal2-text">
                        Шкала времени отражает в минутах заданную вами длину занятия.
                        При наведении на время отдельной методики в шкале времени, вы  можете изменить время ее проведения.
                        Продолжительность этапов занятия (начало, суть, финал) можно изменять, нажимая на стрелочки возле них.
                    </p>
                </div>


                <div class="ah-modal2-wrapper hidden" data-slide="4">
                    <span class="ah-modal2-title">
                        Режим заметок
                    </span>
                    <p class="ah-modal2-text">
                        Для каждой методики, положенной на шкалу времени, можно оставить заметку-подсказку. Наведите на название методики на шкале времени и кликните по иконке &laquo;заметка&raquo;. Чтобы скрыть режим заметок, повторите действие.
                    </p>
                </div>


                <div class="ah-modal2-wrapper hidden" data-slide="5">
                    <span class="ah-modal2-title">
                        Сохранение занятия
                    </span>
                    <p class="ah-modal2-text">
                        Чтобы сохранить занятие, нажмите на иконке “дискета” в правом верхнем углу экрана. После сохранения ваше занятие появится в разделе “мои занятия”.
                    </p>
                </div>


                <div class="ah-modal2-wrapper hidden" data-slide="6">
                    <span class="ah-modal2-title">
                        Редактирование и просмотр занятия
                    </span>
                    <p class="ah-modal2-text">
                        Кликнув по занятию в списке “мои занятия”,  вы попадёте в режим просмотра ранее спланированного занятия.
                    </p>
                    <p class="ah-modal2-text">
                        Чтобы изменить, дополнить его, нажмите на иконку “карандаш” в правом верхнем углу экрана.
                    </p>
                </div>

                <div class="ah-modal2-wrapper hidden" data-slide="7">
                    <span class="ah-modal2-title">
                        Распечатать занятие
                    </span>
                    <p class="ah-modal2-text">
                        Чтобы распечатать  сценарий занятия, кликните по иконке принтера в правом верхнем углу экрана, откроется в новой вкладке в формате pdf.
                        Вы можете указать реальное время проведения занятия, которое отобразится в вашем сценарии.
                    </p>
                </div>

            </div>
        </div>
        <a (click)="nextSlide($event)" class="ah-link ah-link-new">
            ДАЛЕЕ
        </a>
        <a (click)="prevSlide($event)" class="ah-wrapp-left ah-mad2left"></a>
        <a (click)="nextSlide($event)" class="ah-wrapp-right ah-mad2right"></a>

    </modal-body>
</modal>
