<modal class="helpModal helpModal3 ah-contbox" [animation]="animationsEnabled" #modal>
    <modal-body>
        <div class="close" (click)="closeParent()"></div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <ul class="ah-modal2-list">
                    <li>
                        <span data-slide="1" (click)="slideOpen(1)" class="ah-modal2-span ah-modal2-spanactive"></span>
                    </li>
                    <li>
                        <span data-slide="2" (click)="slideOpen(2)" class="ah-modal2-span"></span>
                    </li>
                </ul>

                <div class="ah-modal2-wrapper" data-slide="1">
                    <span class="ah-modal2-title">
                        Пора приступить <br> к планированию интересных занятий!
                    </span>
                    <p class="ah-modal2-text">
                        В этом разделе вам предстоит создать сценарий своего занятия &ndash; план,
                        в котором будут описано содержание занятия и форма его донесения.
                    </p>
                    <p class="ah-modal2-text">
                        Что для этого нужно сделать?
                    </p>
                </div>


                <div class="ah-modal2-wrapper hidden" data-slide="2">
                    <span class="ah-modal2-title">
                        Пора приступить к планированию интересных занятий!
                    </span>
                    <p class="ah-modal2-text">
                        1. Заполнить вводные данные занятия: название, тезисное содержание, время<br />
                        2. Пользуясь фильтрами, выбрать наиболее подходящие методики<br />
                        3. Обозначить содержание каждой методики в заметках<br />
                        4. Скорректировать время проведения методик исходя из особенностей вашей аудитории<br />
                        5. Распечатать или просто сохранить ваш сценарий занятия
                    </p>
                </div>


            </div>
        </div>
        <a (click)="nextSlide($event)" class="ah-link ah-link-new">
            ДАЛЕЕ
        </a>
        <a (click)="prevSlide($event)" class="ah-wrapp-left ah-mad2left"></a>
        <a (click)="nextSlide($event)" class="ah-wrapp-right ah-mad2right"></a>
    </modal-body>
</modal>
