<modal class="login" [animation]="animationsEnabled" #modal>
    <modal-body>
        <div class="close" (click)="modal.close()"></div>
        <div *ngIf="done">
            <div class="erorrs" *ngFor="let error of errors">
                {{error}}
            </div>
        </div>
        <h3>
            Войти
        </h3>
        <div class="icons" *ngIf="terms">
            <div id="status">
            </div>
            <a class="item fb" (click)="loginFb($event)">
                <div>
                    <img src="/assets/images/fb-logo.png"
                         srcset="/assets/images/fb-logo@2x.png 2x, /assets/images/fb-logo@3x.png 3x"
                    />
                </div>
            </a>
            <a class="item vk" (click)="loginVk($event)">
                <div>
                    <img src="/assets/images/vk-logo.png"
                         srcset="/assets/images/vk-logo@2x.png 2x, /assets/images/vk-logo@3x.png 3x"
                    />
                </div>
            </a>
            <a class="item od" (click)="loginOd($event)">
                <div>
                    <img src="/assets/images/ok-logo.png"
                         srcset="/assets/images/ok-logo@2x.png 2x, /assets/images/ok-logo@3x.png 3x"
                    />
                </div>
            </a>
        </div>
        <div class="icons" *ngIf="!terms">
            <p>Вы должны согласиться с правилами</p>
        </div>
        <div class="terms">
            <input type="checkbox" name="terms" id="terms" checked (change)="termsChange($event)" /> <label for="terms">Заполняя и направляя данную форму я подтверждаю, что ознакомлен и принимаю в полном объеме:</label>
            <ul>
            <li>- <a href="/assets/docs/2017-05-05 ИКРА ОЧУ ДПО ОФЕРТА ДЛЯ САЙТА KO.IKRA (бесплатное использование).docx">условия Оферты </a> о заключении договора на оказание услуг по предоставлению доступа к онлайн-сервису «Конструктор опыта» и "Библиотеке методик"
            </li>
                <li>- <a href="/assets/docs/2017-05-05 ИКРА ОЧУ ДПО ПРАВИЛА ПОЛЬЗОВАНИЯ САЙТОМ kо.ikraikra.ru (бесплатный доступ).docx">условия Правил пользования сайтом www.ko.ikraikra.ru</a>
                    и согласен заключить договор на указанных в них условиях</li>
            </ul>
        </div>

    </modal-body>
</modal>
