<div class="tilda">

<div id="allrecords" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="189507"
     data-tilda-page-id="695198">
    <div id="rec16106485" class="r" style=" " data-animationappear="off" data-record-type="244"><!-- cover -->
        <div class="t-cover" id="recorddiv16106485" bgimgfield="img"
             style="height:100vh; background-image:url('/assets/images/tild3838-6161-4936-b536-633862616565__pic.png');">
            <div class="t-cover__carrier" id="coverCarry16106485" data-content-cover-id="16106485"
                 data-content-cover-bg="/assets/images/tild3838-6161-4936-b536-633862616565__pic.png"
                 data-content-cover-height="100vh" data-content-cover-parallax="fixed"
                 style="background-image:url('');height:100vh; "></div>
            <div class="t-cover__filter"
                 style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));background-image: -o-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));background-image: linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fe000000', endColorstr='#fe000000');"></div>
            <div class="t-container">
                <div class="t-col t-col_12 ">
                    <div class="t-cover__wrapper t-valign_middle" style="height:100vh;">
                        <div class="t216 t-align_center">
                            <div data-hook-content="covercontent">
                                <div class="t216__wrapper">
                                    <div class="t216__title t-title t-title_xl "
                                         style="color:#ffffff;font-weight:700;text-transform:uppercase;letter-spacing:3px;"
                                         field="title"><span style="font-family: MuseoSansCyrl;">Конструктор</span>
                                        <br/><span style="font-family: MuseoSansCyrl;">опыта</span></div>
                                    <div class="t216__descr t-descr t-descr_xl t216__descr_center "
                                         style="color:#ffffff;font-size:16px;font-weight:700;text-transform:uppercase;"
                                         field="descr"><span style="font-family: MuseoSansCyrl;">поможет превратить скучное<br/></span><span
                                            style="font-family: MuseoSansCyrl;">занятие в игру</span></div>
                                    <span class="space"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- arrow -->
            <div class="t-cover__arrow">
                <div class="t-cover__arrow-wrapper t-cover__arrow-wrapper_animated">
                    <div class="t-cover__arrow_mobile">
                        <svg class="t-cover__arrow-svg" style="fill:#ffffff;" x="0px" y="0px" width="38.417px"
                             height="18.592px" viewBox="0 0 38.417 18.592"
                             style="enable-background:new 0 0 38.417 18.592;">
                            <g>
                                <path d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z"/>
                            </g>
                        </svg>
                    </div>
                </div>
            </div> <!-- arrow --> </div>
    </div>
    <div id="rec16107009" class="r" style="padding-top:90px;padding-bottom:90px;background-color:#ffffff; "
         data-record-type="469" data-bg-color="#ffffff"><!-- t469 -->
        <div class="t469">
            <div class="t-container t-align_center">
                <div class="t-col t-col_8 t-prefix_2">
                    <div class="t469__title t-title t-title_lg t-margin_auto" field="title"
                         style="font-weight:700;text-transform:uppercase;">
                        <div style="font-size:42px;font-family:'MuseoSansCyrl';" data-customstyle="yes">Что это такое?
                        </div>
                    </div>
                    <div class="t469__descr t-descr t-descr_md t-margin_auto" field="descr"
                         style="font-size:20px;font-weight:700;text-transform:uppercase;">
                        <div style="font-family:'MuseoSansCyrl';" data-customstyle="yes">удобный онлайн-сервис для
                            планирования интерактивных занятий, воркшопов, деловых игр <br/></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec16169744" class="r" style="padding-top:90px;padding-bottom:90px;background-color:#eeeeee; "
         data-record-type="510" data-bg-color="#eeeeee"><!-- t510 -->
        <div class="t510">
            <div class="t-section__container t-container">
                <div class="t-col t-col_12">
                    <div class="t-section__topwrapper t-align_center">
                        <div class="t-section__title t-title t-title_xs " field="btitle">
                            <div style="line-height:62px;" data-customstyle="yes">ЧТО ТРЕВОЖИТ СОВРЕМЕННОГО<br/>ПРЕПОДАВАТЕЛЯ?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-container">
                <div class="t-col t-col_8 t-prefix_2 t-item ">
                    <div class="t-cell t-valign_top">
                        <div class="t510__circle t-heading t-valign_top"
                             style="background-color:#4399d4; color:#ffffff;; border: 0px solid #000; width:60px; height:60px; line-height:60px; font-size:20px; font-weight:700;">
                            1
                        </div>
                    </div>
                    <div class="t510__textwrapper t-cell t-valign_top" style="">
                        <div class="t-name t-name_md t510__bottommargin"
                             style="font-size:20px;text-transform:uppercase;" field="li_title__1476966581869">
                            <div style="font-size:18px;font-family:'MuseoSansCyrl';" data-customstyle="yes">Хаос в
                                методиках преподавания <br/></div>
                        </div>
                        <div class="t-descr t-descr_sm" style="font-size:16px;" field="li_descr__1476966581869">Cоздание
                            плана занятий — это бесконечный перебор образовательных ресурсов, отсеивание устаревших и
                            поиск новых методик.
                        </div>
                    </div>
                </div>
                <div class="t-clear t510__separator" style=""></div>
                <div class="t-col t-col_8 t-prefix_2 t-item ">
                    <div class="t-cell t-valign_top">
                        <div class="t510__circle t-heading t-valign_top"
                             style="background-color:#4399d4; color:#ffffff;; border: 0px solid #000; width:60px; height:60px; line-height:60px; font-size:20px; font-weight:700;">
                            2
                        </div>
                    </div>
                    <div class="t510__textwrapper t-cell t-valign_top" style="">
                        <div class="t-name t-name_md t510__bottommargin"
                             style="font-size:20px;text-transform:uppercase;" field="li_title__1476966593578">
                            <div style="font-size:18px;" data-customstyle="yes">Невнимательность учеников</div>
                        </div>
                        <div class="t-descr t-descr_sm" style="font-size:16px;" field="li_descr__1476966593578">Как
                            передать знания и навыки, чтобы быть интереснее смартфона и вовлечь в процесс вечно
                            отвлекающихся студентов всех возрастов?<br/></div>
                    </div>
                </div>
                <div class="t-clear t510__separator" style=""></div>
                <div class="t-col t-col_8 t-prefix_2 t-item ">
                    <div class="t-cell t-valign_top">
                        <div class="t510__circle t-heading t-valign_top"
                             style="background-color:#4399d4; color:#ffffff;; border: 0px solid #000; width:60px; height:60px; line-height:60px; font-size:20px; font-weight:700;">
                            3
                        </div>
                    </div>
                    <div class="t510__textwrapper t-cell t-valign_top" style="">
                        <div class="t-name t-name_md t510__bottommargin"
                             style="font-size:20px;text-transform:uppercase;" field="li_title__1476966597622">
                            <div style="font-size:18px;" data-customstyle="yes">Рутина планирования</div>
                        </div>
                        <div class="t-descr t-descr_sm" style="font-size:16px;" field="li_descr__1476966597622">
                            Привычные процессы планирования занятий — это бесконечные листы, пустые колонки и огромное
                            нежелание их заполнять.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec16173071" class="r" style="padding-top:90px;padding-bottom:90px;background-color:#4399d4; "
         data-record-type="67" data-bg-color="#4399d4"><!-- T059 -->
        <div class="t059">
            <div class="t-container t-align_center">
                <div class="t-col t-col_12">
                    <div class="t059__text-impact t-text-impact t-text-impact_xs" style="color: #ffffff;" field="text">
                        <div style="font-size:20px;" data-customstyle="yes"><span style="font-weight: 700;">МЫ СОЗДАЛИ ИНСТРУМЕНТ ДЛЯ ПЛАНИРОВАНИЯ ЗАНЯТИЙ,<br/>ПРЕВРАЩАЮЩИЙ УЧЕБНЫЙ ПРОЦЕСС В ИСТОЧНИК ВДОХНОВЕНИЯ<br/>НЕ ТОЛЬКО ДЛЯ СТУДЕНТОВ, НО И ДЛЯ ПЕДАГОГОВ.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec16168700" class="r" style="padding-top:90px;padding-bottom:60px; " data-record-type="490"><!-- t490 -->
        <div class="t490">
            <div class="t-section__container t-container">
                <div class="t-col t-col_12">
                    <div class="t-section__topwrapper t-align_center">
                        <div class="t-section__title t-title t-title_xs " field="btitle">
                            <div style="line-height:62px;" data-customstyle="yes">УНИКАЛЬНЫЙ НАБОР МЕТОДИК<br/>ПРЕПОДАВАНИЯ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-container">
                <div class="t490__col t-col t-col_4 t-align_center t-item " style="max-width: 334px !important;">
                    <img
                        src="/assets/images/tild3334-6630-4337-b632-323436373733__icons07.png"
                        data-original="/assets/images/tild3334-6630-4337-b632-323436373733__icons07.png" class="t490__img t-img"
                        imgfield="li_img__1476968690512"/>
                    <div class="t490__wrappercenter ">
                        <div class="t-name t-name_sm" style="text-transform:uppercase;" field="li_title__1476968690512">
                            <div style="font-size:20px;" data-customstyle="yes">
                                Категории и фильтрация
                            </div>
                        </div>
                        <div class="t-descr t-descr_xxs" style="" field="li_descr__1476968690512">Все методики поделены
                            на категории: цели занятия, этапы занятия, эмоциональное состояние аудитории и др.
                        </div>
                    </div>
                </div>
                <div class="t490__col t-col t-col_4 t-align_center t-item " style="max-width: 334px !important;"><img
                        src="/assets/images/tild6435-6537-4335-a632-633464326237__icons04.png"
                        data-original="/assets/images/tild6435-6537-4335-a632-633464326237__icons04.png" class="t490__img t-img"
                        imgfield="li_img__1476968700508"/>
                    <div class="t490__wrappercenter ">
                        <div class="t-name t-name_sm" style="text-transform:uppercase;" field="li_title__1476968700508">
                            <div style="font-size:20px;" data-customstyle="yes">Обновление и пополнение<br/></div>
                        </div>
                        <div class="t-descr t-descr_xxs" style="" field="li_descr__1476968700508">Коллекция методик
                            постоянно пополняется, в том числе благодаря вам.
                        </div>
                    </div>
                </div>
                <div class="t490__col t-col t-col_4 t-align_center t-item " style="max-width: 334px !important;"><img
                        src="/assets/images/tild3562-3262-4038-b531-623130343662__icons01.png"
                        data-original="/assets/images/tild3562-3262-4038-b531-623130343662__icons01.png" class="t490__img t-img"
                        imgfield="li_img__1476968722790"/>
                    <div class="t490__wrappercenter ">
                        <div class="t-name t-name_sm" style="text-transform:uppercase;" field="li_title__1476968722790">
                            <div style="font-size:20px;" data-customstyle="yes">Большая коллекция</div>
                        </div>
                        <div class="t-descr t-descr_xxs" style="" field="li_descr__1476968722790">Уже сейчас в набор
                            входит более 100 методик, подходящих для любого занятия.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec16174671" class="r" style="padding-top:30px;padding-bottom:90px; " data-record-type="191"><!-- T142 -->
        <div class="t142">
            <div class="t-container_100">
                <div class="t142__wrapone">
                    <div class="t142__wraptwo">
                        <a [routerLink]="['/cards/filters/energyUp']">
                        <div  class="t-btn t142__submit " style="color:#000000;border:3px solid #000000;">ПОЗНАКОМИТЬСЯ С
                            МЕТОДИКАМИ
                        </div>
                    </a></div>
                </div>
            </div>
        </div>
        <script type="text/javascript"> $(document).ready(function () {
            t142_checkSize('16174671');
        });</script>
    </div>
    <div id="rec16174743" class="r" style="padding-top:90px;padding-bottom:60px;background-color:#eeeeee; "
         data-record-type="490" data-bg-color="#eeeeee"><!-- t490 -->
        <div class="t490">
            <div class="t-section__container t-container">
                <div class="t-col t-col_12">
                    <div class="t-section__topwrapper t-align_center">
                        <div class="t-section__title t-title t-title_xs " field="btitle">
                            <div style="line-height:62px;" data-customstyle="yes">УДОБНЫЙ ФОРМАТ ПЛАНИРОВАНИЯ<br/>ЗАНЯТИЙ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-container">
                <div class="t490__col t-col t-col_4 t-align_center t-item " style="max-width: 334px !important;"><img
                        src="/assets/images/tild3137-6136-4130-b865-326433353335__icons05.png"
                        data-original="/assets/images/tild3137-6136-4130-b865-326433353335__icons05.png" class="t490__img t-img"
                        imgfield="li_img__1476968700508"/>
                    <div class="t490__wrappercenter ">
                        <div class="t-heading t-heading_md" style="text-transform:uppercase;"
                             field="li_title__1476968700508">
                            <div style="font-size:20px;line-height:26px;" data-customstyle="yes">Выбор методики и цели
                                занятия
                            </div>
                        </div>
                        <div class="t-descr t-descr_xs" style="" field="li_descr__1476968700508">
                            <div style="font-size:14px;line-height:20px;" data-customstyle="yes">Выбор методики в
                                соответствии с целями вашего занятия. Вы знаете цель обучения — мы помогаем ее достичь.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t490__col t-col t-col_4 t-align_center t-item " style="max-width: 334px !important;"><img
                        src="/assets/images/tild6430-3533-4565-b138-376336396336__icons_Artboard9.png"
                        data-original="/assets/images/tild6430-3533-4565-b138-376336396336__icons_Artboard9.png"
                        class="t490__img t-img" imgfield="li_img__1476968690512"/>
                    <div class="t490__wrappercenter ">
                        <div class="t-heading t-heading_md" style="text-transform:uppercase;"
                             field="li_title__1476968690512">
                            <div style="font-size:20px;line-height:26px;" data-customstyle="yes">Интерфейс для
                                планирования
                            </div>
                        </div>
                        <div class="t-descr t-descr_xs" style="" field="li_descr__1476968690512">
                            <div style="font-size:14px;line-height:20px;" data-customstyle="yes">Учитывает все
                                необходимое <strong></strong>— время, тип занятия, этап обучения, методику — и формирует
                                печатный сценарий. Планирование — это не скучно.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t490__col t-col t-col_4 t-align_center t-item " style="max-width: 334px !important;"><img
                        src="/assets/images/tild6664-6132-4662-b130-343733353163__icons02.png"
                        data-original="/assets/images/tild6664-6132-4662-b130-343733353163__icons02.png" class="t490__img t-img"
                        imgfield="li_img__1476968722790"/>
                    <div class="t490__wrappercenter ">
                        <div class="t-heading t-heading_md" style="text-transform:uppercase;"
                             field="li_title__1476968722790">
                            <div style="font-size:20px;line-height:26px;" data-customstyle="yes">Контроль энергии
                                аудитории
                            </div>
                        </div>
                        <div class="t-descr t-descr_xs" style="" field="li_descr__1476968722790">
                            <div style="font-size:14px;line-height:20px;" data-customstyle="yes">Правильный сценарий
                                занятия позволяет учитывать эмоциональное состояние аудитории. Теперь уж точно никто не
                                уснет.<br/></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec16176068" class="r" style="padding-top:30px;padding-bottom:90px;background-color:#eeeeee; "
         data-record-type="191" data-bg-color="#eeeeee"><!-- T142 -->
        <div class="t142">
            <div class="t-container_100">
                <div class="t142__wrapone">
                    <div class="t142__wraptwo">
                        <a (click)="workCreate($event)">
                            <div class="t-btn t142__submit " style="color:#000000;border:3px solid #000000;">
                                создать занятие
                            </div>
                    </a></div>
                </div>
            </div>
        </div>
        <script type="text/javascript"> $(document).ready(function () {
            t142_checkSize('16176068');
        });</script>
    </div>
    <div id="rec16110530" class="r" style="padding-top:90px;padding-bottom:30px; " data-record-type="172"><!-- T158 -->
        <div class="t158">
            <div class="t-container">
                <div class="t-row">
                    <div class="t-col t-col_12 ">
                        <div class="t158__text t-text" field="text">
                            <div style="font-size:42px;" data-customstyle="yes"><strong>ОПЫТ
                                ПРЕПОДАВАТЕЛЕЙ</strong><strong></strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec16110527" class="r" style="padding-top:84px;padding-bottom:84px; " data-record-type="154"><!-- T143 -->
        <div class="t143">
            <div class="t-container">
                <div class="t-col t-col_6" style="max-width: 521px !important;">
                    <img class="t143__img t-img"
                        src="/assets/images/tild6664-6466-4435-b165-613732613036__11403492_1159519630740458_2839756618668870388_n.jpg"
                        data-original="/assets/images/tild6664-6466-4435-b165-613732613036__11403492_1159519630740458_2839756618668870388_n.jpg"
                        alt="" imgfield="img"
                    />
                    <div class="t143__textwrapper">
                        <div field="descr" class="t143__text t-text t-text_xs">
                            <div style="font-size:16px;line-height:24px;" data-customstyle="yes">Конструктор опыта
                                полезен всем, кто хочет именно вовлекать людей, строить образовательный процесс на
                                основе активной роли студентов. Он позволяет переводить теоретическую информацию в
                                навыки и тем самым приносить больше пользы слушателям.
                            </div>
                        </div>
                        <div class="t143__title t-name t-name_xs" field="title">
                            <div style="font-size:20px;text-align:left;" data-customstyle="yes">ИВАН ДЬЯЧЕНКО</div>
                        </div>
                    </div>
                </div>
                <div class="t-col t-col_6" style="max-width: 521px !important;">
                    <img class="t143__img t-img"
                        src="/assets/images/tild3137-3663-4533-a663-653061393431__15826247_1304581726230209_1389441365301932902_n.jpg"
                        data-original="/assets/images/tild3137-3663-4533-a663-653061393431__15826247_1304581726230209_1389441365301932902_n.jpg"
                        alt="" imgfield="img2"
                    />
                    <div class="t143__textwrapper">
                        <div field="descr2" class="t143__text t-text t-text_xs">
                            <div style="font-size:16px;line-height:24px;" data-customstyle="yes">Я использую конструктор
                                для каждого занятия, и со временем алгоритм сам устаканивается в голове. Кроме этого,
                                методики из колоды дают возможность быть более гибким и корректировать групповую
                                динамику по ходу занятия.<br/></div>
                        </div>
                        <div class="t143__title t-name t-name_xs" field="title2">
                            <div style="font-size:20px;" data-customstyle="yes">МИХАИЛ ШИШКИН</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec16106492" class="r" style="padding-top:90px;padding-bottom:90px;background-color:#ef4849; "
         data-record-type="574" data-bg-color="#ef4849"><!-- t574-->
        <div class="t574">
            <div class="t-container">
                <div class="t-col t-col_6 t-prefix_3 t-align_center">
                    <div class="t574__title t-title t-title_xs t574__bottom-margin_lg"
                         style="color:#ffffff;font-size:20px;font-weight:700;text-transform:uppercase;" field="title">
                        <div style="line-height:30px;" data-customstyle="yes">Мы будем рады отв<span
                                style="font-size: 20px;">етить на ваши вопросы и получить обра</span>тную связь.
                        </div>
                    </div>
                    <div class="t574__text t-text t-descr_xl t574__bottom-margin_lg"
                         style="color:#ffffff;font-size:16px;font-weight:400;" field="text">
                        <div style="font-size:20px;" data-customstyle="yes">+7 (495) 120-46-89<br/>info@ikraikra.ru<br/>
                        </div>
                    </div>
                    <!--<div class="t-sociallinks">-->
                        <!--<div class="t-sociallinks__wrapper">-->
                            <!--<div class="t-sociallinks__item"><a href="https://google.com" target="_blank">-->
                                <!--<svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"><desc>Facebook</desc><path style="fill:#ffffff;" d="M47.761,24c0,13.121-10.638,23.76-23.758,23.76C10.877,47.76,0.239,37.121,0.239,24c0-13.124,10.638-23.76,23.764-23.76C37.123,0.24,47.761,10.876,47.761,24 M20.033,38.85H26.2V24.01h4.163l0.539-5.242H26.2v-3.083c0-1.156,0.769-1.427,1.308-1.427h3.318V9.168L26.258,9.15c-5.072,0-6.225,3.796-6.225,6.224v3.394H17.1v5.242h2.933V38.85z"/></svg>-->
                            <!--</a></div>-->
                            <!--<div class="t-sociallinks__item"><a href="https://google.com" target="_blank">-->
                                <!--<svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"><desc>Twitter</desc><path style="fill:#ffffff;" d="M47.762,24c0,13.121-10.639,23.76-23.761,23.76S0.24,37.121,0.24,24c0-13.124,10.639-23.76,23.761-23.76 S47.762,10.876,47.762,24 M38.031,12.375c-1.177,0.7-2.481,1.208-3.87,1.481c-1.11-1.186-2.694-1.926-4.455-1.926 c-3.364,0-6.093,2.729-6.093,6.095c0,0.478,0.054,0.941,0.156,1.388c-5.063-0.255-9.554-2.68-12.559-6.367 c-0.524,0.898-0.825,1.947-0.825,3.064c0,2.113,1.076,3.978,2.711,5.07c-0.998-0.031-1.939-0.306-2.761-0.762v0.077 c0,2.951,2.1,5.414,4.889,5.975c-0.512,0.14-1.05,0.215-1.606,0.215c-0.393,0-0.775-0.039-1.146-0.109 c0.777,2.42,3.026,4.182,5.692,4.232c-2.086,1.634-4.712,2.607-7.567,2.607c-0.492,0-0.977-0.027-1.453-0.084 c2.696,1.729,5.899,2.736,9.34,2.736c11.209,0,17.337-9.283,17.337-17.337c0-0.263-0.004-0.527-0.017-0.789 c1.19-0.858,2.224-1.932,3.039-3.152c-1.091,0.485-2.266,0.811-3.498,0.958C36.609,14.994,37.576,13.8,38.031,12.375"/></svg>-->
                            <!--</a></div>-->
                            <!--<div class="t-sociallinks__item"><a href="https://google.com" target="_blank">-->
                                <!--<svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px" viewBox="0 0 30 30" xml:space="preserve"><desc>Instagram</desc><path style="fill:#ffffff;" d="M15,11.014 C12.801,11.014 11.015,12.797 11.015,15 C11.015,17.202 12.802,18.987 15,18.987 C17.199,18.987 18.987,17.202 18.987,15 C18.987,12.797 17.199,11.014 15,11.014 L15,11.014 Z M15,17.606 C13.556,17.606 12.393,16.439 12.393,15 C12.393,13.561 13.556,12.394 15,12.394 C16.429,12.394 17.607,13.561 17.607,15 C17.607,16.439 16.444,17.606 15,17.606 L15,17.606 Z"></path><path style="fill:#ffffff;" d="M19.385,9.556 C18.872,9.556 18.465,9.964 18.465,10.477 C18.465,10.989 18.872,11.396 19.385,11.396 C19.898,11.396 20.306,10.989 20.306,10.477 C20.306,9.964 19.897,9.556 19.385,9.556 L19.385,9.556 Z"></path><path style="fill:#ffffff;" d="M15.002,0.15 C6.798,0.15 0.149,6.797 0.149,15 C0.149,23.201 6.798,29.85 15.002,29.85 C23.201,29.85 29.852,23.202 29.852,15 C29.852,6.797 23.201,0.15 15.002,0.15 L15.002,0.15 Z M22.666,18.265 C22.666,20.688 20.687,22.666 18.25,22.666 L11.75,22.666 C9.312,22.666 7.333,20.687 7.333,18.28 L7.333,11.734 C7.333,9.312 9.311,7.334 11.75,7.334 L18.25,7.334 C20.688,7.334 22.666,9.312 22.666,11.734 L22.666,18.265 L22.666,18.265 Z"></path></svg>-->
                            <!--</a></div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/assets/js/jquery-1.10.2.min.js"></script>
<script src="/assets/js/tilda-scripts-2.8.min.js"></script>
<script src="/assets/js/tilda-blocks-2.5.js?t=1490685086"></script>
<script src="/assets/js/lazyload-1.3.min.js"></script>

<script> (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
    a = s.createElement(o), m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
ga('create', 'UA-56589716-2', 'auto', {'name': 'tilda'});
ga('tilda.send', 'pageview');
if (!window.mainTracker) {
    window.mainTracker = 'tilda';
}</script>


<login></login>
<modal-work></modal-work>
<help-modal3 (onClose)="onClose($event)"></help-modal3>
