<div class="content ah-content404">
	<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        	<div class="ah-page404-wrapp">
        		<span class="ah-page404-f1">4</span>
	        	<span class="ah-page404-title">ошибка 404</span>
	        	<p class="ah-page404-text">Такой страницы не существует. Пожалуйста, вернитесь на главную страницу, чтобы найти необходимый раздел.</p>
	        	<a href="#" class="ah-page404-link">вернуться на главную</a>
	        	<span class="ah-page404-f2">4</span>
	        	<span class="ah-page404-z">0</span>
        	</div>
        </div>
	</div>

</div>