<modal class="printModal ah-contbox" [animation]="animationsEnabled" #modal>
    <modal-body>
        <div class="close ah-close11" (click)="modal.close()"></div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            	<div class="ah-modal3-wrapper">
	            	<span class="ah-modal3-title">
						длительность занятия
					</span>
	            	<span class="ah-modal3-time">
						{{work?.time}} мин
					</span>
	            	<span class="ah-modal2-text">
						Привязать тайминг занятия к реальному времени
					</span>
	            	<span class="ah-modal3-text">
						(необязательный шаг)
					</span>
	            	<div class="ah-form1">
	            		<ul class="ah-form1-list">
	            			<li>
	            				<span>
									начало
								</span>
	            			</li>
	            			<li class="ah-form1-listitem">
	            				<div class="ah-inputwrap">
									<input type="text" class="form-control" [(ngModel)]="timeStartHours" min="0" max="24">
									<div class="ah-arrbox">
										<div class="ah-arrtop">
											<i class="fa fa-caret-up" aria-hidden="true" (click)="timeStartUp($event, 'hours')"></i>
										</div>
										<div class="ah-arrbot">
											<i class="fa fa-caret-down" aria-hidden="true" (click)="timeStartDown($event, 'hours')"></i>
										</div>
									</div>
								</div>
	            			</li>
							<span class="span__my">:</span>
	            			<li class="ah-form1-listitem">
	            				<div class="ah-inputwrap">
									<input type="text" class="form-control" [(ngModel)]="timeStartMinute" min="0" max="60">
									<div class="ah-arrbox">
										<div class="ah-arrtop">
											<i class="fa fa-caret-up" aria-hidden="true" (click)="timeStartUp($event, 'minute')"></i>
										</div>
										<div class="ah-arrbot">
											<i class="fa fa-caret-down" aria-hidden="true" (click)="timeStartDown($event, 'minute')"></i>
										</div>
									</div>
								</div>
	            			</li>
	            		</ul>
	            		<ul class="ah-form1-list">
	            			<li>
	            				<span>
									конец
								</span>
	            			</li>
	            			<li class="ah-form1-listitem">
	            				<div class="ah-inputwrap">
									<input type="text" class="form-control" [(ngModel)]="timeDownHours" min="0" max="24">
									<div class="ah-arrbox">
										<div class="ah-arrtop">
											<i class="fa fa-caret-up" aria-hidden="true" (click)="timeEndUp($event, 'hours')"></i>
										</div>
										<div class="ah-arrbot">
											<i class="fa fa-caret-down" aria-hidden="true" (click)="timeEndDown($event, 'hours')"></i>
										</div>
									</div>
								</div>
	            			</li>
							<span class="span__my">:</span>
	            			<li class="ah-form1-listitem">
	            				<div class="ah-inputwrap">
									<input type="text" class="form-control" [(ngModel)]="timeDownMinute" min="0" max="60">
									<div class="ah-arrbox">
										<div class="ah-arrtop">
											<i class="fa fa-caret-up" aria-hidden="true" (click)="timeEndUp($event, 'minute')"></i>
										</div>
										<div class="ah-arrbot">
											<i class="fa fa-caret-down" aria-hidden="true" (click)="timeEndDown($event, 'minute')"></i>
										</div>
									</div>
								</div>
	            			</li>
	            		</ul>
	            	</div>
	            	<a onclick="yaCounter43968854.reachGoal('press_print_popup');ga('send', 'press_print_popup');return true;" (click)="print($event)" class="ah-modal2-link ah-modal3-link" target="_blank">
						печатать
					</a>
				</div>
            </div>
        </div>
    </modal-body>
</modal>
