<modal class="addClass autoH" [animation]="animationsEnabled" #modal>
    <modal-body>
        <div class="ah-addClass11">
            <div *ngIf="done">
                <div class="erorrs" *ngFor="let error of errors">
                    {{error}}
                </div>
            </div>

            <span class="ah-title00">перейти к новому занятию</span>
            <form (ngSubmit)="onSubmit(work)"  onsubmit="yaCounter43968854.reachGoal('sozdat_zaniatie_ok');ga('send', 'sozdat_zaniatie_ok');return true;">
                <div class="form-group name">
                    <input type="text" class="form-control"
                           name="Work[name]"
                           placeholder="Название"
                           [(ngModel)]="work.name"
                    >
                </div>
                <div class="theses-label">Тезисы</div>
                <div class="form-group themes thesis"  *ngFor="let theses of work.theses; trackBy:trackByFn; let i = index;">
                    <span id="bullet">•</span>
                    <textarea
                              initFocus
                              class="form-control ng-pristine ng-valid ng-touched textarea"
                              name="Work[theses][{{i}}]"
                              rows="1"
                              cols="40"
                              [(ngModel)]="work.theses[i].title"
                              (keydown.enter)="addTheses()"
                              (keydown)="heightChange($event)"></textarea>
                    <div class="divContainer"></div>
                </div>

                <div class="form-group time">
                    <span>продолжительность</span>
                    <input type="text" class="form-control" name="Work[time]" [(ngModel)]="work.time">
                    <span class="type">мин</span>
                </div>
                <div class="submit">
                    <input type="submit" value="продолжить" />
                </div>
            </form>
        </div>
    </modal-body>
</modal>
