<div class="header">
    <div class="left">
        <div class="name no-pointer">
            {{work?.name}}
        </div>
        <div class="t tultip-img8">
            <span class="ah-i_clock"></span>
            <div class="tultip">
                <p>
                    <span>
                        {{work?.time}} мин
                    </span>
                </p>
            </div>
        </div>
        <div class="t tultip-img8" *ngIf="work?.theses">
            <span class="ah-i_t"></span>
            <div class="tultip">
                <p>
                    <span *ngFor="let item of work?.theses;">
                        {{item.title}}
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div class="right">
        <div *ngIf="work?.status==1" class="pencil" (click)="openEdit($event)">
            <span class="ah-i_pencil"></span>
        </div>

        <div class="print" (click)="openPrint($event)">
            <span class="ah-i_print"></span>
        </div>
        <div class="my_close">
            <a
                class="my-close-x"
                (click)="close($event)">
            </a>
        </div>
    </div>
</div>

<div class="content work-view">
    <div class="view-mod">
        <p>Режим просмотра</p>
    </div>
</div>

<div class="bottom-timeline">
    <div class="bottom-timeline__status timeline-status" [style.width]="timeLine.length*22 + cardDrops.length*198+'px'">
        <div class="timeline-satus__box status-box" [style.width]="timeLine.length*22 + cardDrops.length*198+'px'">

            <div class="status-box__begin status-begin status-box__block" [style.width]="work.begin_count + '%'">
                <div class="status-begin__status status-status">
                    <span class="status-status__word tultip-img7">
                        Начало
                         <div class="tultip">
                           <div class="service">
                               <span></span>
                                <p>Контакт с аудиторией, актулизация темы</p>
                           </div>
                        </div>
                    </span>
                </div>
            </div>

            <div class="status-box__heart status-heart status-box__block" [style.width]="work.center_count +'%'">
                <div class="status-heart__status status-status">
                    <span class="status-status__word tultip-img7">
                        Суть
                        <div class="tultip">
                              <div class="service">
                               	<span></span>
                                <p>Основная часть занятия</p>
                              </div>
                        </div>
                    </span>
                </div>
            </div>

            <div class="status-box__final status-final status-box__block" [style.width]="work.finish_count +'%'">
                <div class="status-final__status status status">
                    <span class="status-status__word tultip-img7">
                        Финал
                        <div class="tultip">
                            <div class="service">
                               	<span></span>
                                <p>
                                    Рефлексия, обратная связь
                                </p>
                                </div>
                        </div>
                    </span>
                </div>
            </div>

        </div>
    </div>

    <div class="timeline__scale timelane-box" [style.width]="cardDrops.length*198+'px'" [style.height]="'256px'">

        <ul class="timeline-box__scale timeline-scale" (load)="loadTime($event)">
            <li class="timeline-scale__item" *ngFor="let number of timeLine">
                {{number}}
            </li>
        </ul>
        <div class="timeline_becground-absolute"></div>

        <div class="timeline-box__progress timeline-progress">
            <div class="timeline-progress__container progress-container">

                <div class="progress-container__block progress-block color{{cardDrop.color_type}}"
                     *ngFor="let cardDrop of cardDrops"
                >
                    <div class="progress-block__time">
                        {{cardDrop.workCardTime}} мин
                    </div>

                    <h3 class="progress-block__title">
                        <span>
                            {{cardDrop.name}}
                        </span>
                    </h3>

                    <div class="messageBlock">
                        <div class="message">
                            <div class="text">
                                <textarea readonly [(ngModel)]="cardDrop.message">{{cardDrop.message}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<print-modal [work]="work"></print-modal>

