<div class="content">
    <div class="works">
        <div class="ah-help-wrapp">
            <span class="ah-help-title">
                Занятия
            </span>
            <div class="ah-workswrapp">
                <div class="link-create-card link-create-card-marg ah-link-create-card" onclick="yaCounter43968854.reachGoal('sozdat_zaniatie');ga('send', 'sozdat_zaniatie');return true;" (click)="workCreate($event)">
                    создать занятие
                </div>
                <a class="ah-workswrapp-span" [ngClass]="auth && works.length > 0 ? 'active' : ''" (click)="switchWork($event, 1)">
                    Мои занятия
                </a>
                <a class="ah-workswrapp-span primer" [ngClass]="auth && works.length > 0 ? '' : 'active'" (click)="switchWork($event, 2)" >
                    Примеры
                </a>
            </div>
        </div>
        <div class="header_name">
            <div class="header_name1">
                №
            </div>
            <div class="header_name2">
                Название
            </div>
            <div class="header_name3">
                Дата
            </div>
            <div class="header_name4">
                Время
            </div>
        </div>

        <div
            class="item"
            [ngClass]="auth && works.length > 0 ? '' : 'hidden'"
             *ngFor="let work of works; let i = index"
            [attr.data-status]="work.status"
        >
            <span [routerLink]="['/work/', work.id]">
                <div class="ah-worksdiv1">
                    {{i+1}}
                </div>
                <div class="ah-worksdiv2">
                    {{work.name}}
                </div>
                <div class="ah-worksdiv3">
                    {{work.created_at}}
                </div>
                <div class="ah-worksdiv4">
                    {{work.time}}
                </div>
            </span>
            <div class="close" (click)="deleteWork($event, work)"></div>
        </div>


        <div class="item"
             [ngClass]="auth && works.length > 0 ? 'hidden' : ''"
             *ngFor="let work of worksExample; let i = index"
             [routerLink]="['/work/', work.id]"
             [attr.data-status]="work.status"
        >
            <div class="ah-worksdiv1">
                {{i+1}}
            </div>
            <div class="ah-worksdiv2">
                {{work.name}}
            </div>
            <div class="ah-worksdiv3">
                {{work.created_at}}
            </div>
            <div class="ah-worksdiv4">
                {{work.time}}
            </div>
        </div>


    </div>
</div>

<login></login>
<modal-work></modal-work>
<help-modal3 (onClose)="onClose($event)"></help-modal3>
