<div class="header">
    <div class="left">
        <div class="name" (click)="updateWork($event)">
            {{work?.name}}
        </div>

        <div class="t tultip-img8">
            <span class="ah-i_clock"></span>
            <div class="tultip">
                <p>
                    <span>
                        {{work?.time}} мин
                    </span>
                </p>
            </div>
        </div>
        <div class="t tultip-img8" *ngIf="work.theses">
            <span class="ah-i_t"></span>
            <div class="tultip">
                <p>
                    <span *ngFor="let item of work?.theses;">
                        {{item.title}}
                    </span>
                </p>
            </div>
        </div>
        <div class="filter" (click)="openFilter($event)" >
            <a class="link-filter">Открыть фильтры</a>
        </div>
        <div class="notes" (click)="openMessage($event)" >
            <a class="link-notes">Открыть заметки</a>
        </div>
    </div>

    <div class="right">

        <div class="print" (click)="openPrint($event)" onclick="yaCounter43968854.reachGoal('press_print');ga('send', 'press_print');return true;">
            <span class="ah-i_print"></span>
        </div>
        <div class="save">
            <span class="ah-i_save" onclick="yaCounter43968854.reachGoal('save');ga('send', 'save');return true;" (click)="save($event)"></span>
        </div>
    </div>
</div>
    
    <div class="ah-container filter hidden">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ah-workcreate-wrapp">
                    <ul class="ah-workcreate-list">
                        <li>
                            <a data-name="sort" (click)="openSort($event, 'sort')" >
                                Сортировка
                            </a>
                        </li>
                        <li>
                            <a data-name="energy" (click)="openSort($event, 'energy')" >
                                энергия
                            </a>
                            <span (click)="closeSort($event, 'energy')"></span>
                        </li>
                        <li>
                            <a data-name="step" (click)="openSort($event, 'step')">
                                этапы занятия
                            </a>
                            <span (click)="closeSort($event, 'step')"></span>
                        </li>
                        <li>
                            <a data-name="targetPupils" (click)="openSort($event, 'targetPupils')">
                                Компетенции 4К
                            </a>
                            <span (click)="closeSort($event, 'targetPupils')"></span>
                        </li>
                        <li>
                            <a data-name="targetTeachers" (click)="openSort($event, 'targetTeachers')">
                                цели по блуму
                            </a>
                            <span (click)="closeSort($event, 'targetTeachers')"></span>
                        </li>
                        <li>
                            <a data-name="countPupils" (click)="openSort($event, 'countPupils')">
                                формат проведения
                            </a>
                            <span (click)="closeSort($event, 'countPupils')"></span>
                        </li>
                    </ul>
                    <div class="link-create-card ah-workcreate-cart" (click)="createCard($event)" >
                        Создать методику
                    </div>
                </div>
            </div>
        </div>
        <div class="row filterClick">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ah-workcreate-wrapp11">
                    <ul class="hidden ah-workcreate-list2 sort" data-name="sort">
                        <li>
                            <div style="color: #fff;">
                                показывать по:
                            </div>
                        </li>
                        <li>
                            <span class="ah-workcreate-span2" data-name="sortLike" data-value="1" (click)="onFilter($event)">
                                избранные
                            </span>
                        </li>
                        <li class="ah-workcreate-span2-margin">
                            <span class="ah-workcreate-span2 active" data-name="sort" data-value="name" (click)="onFilter($event)">
                                По алфавиту
                            </span>
                        </li>
                        <li>
                            <span class="ah-workcreate-span2" data-name="sort" data-value="time" (click)="onFilter($event)">
                                по длительности
                            </span>
                        </li>
                        <li class="ah-workcreate-span2-margin">
                            <span class="ah-workcreate-span2 active" data-name="sortUser" data-value="1" (click)="onFilter($event)">
                                все
                            </span>
                        </li>
                        <li>
                            <span class="ah-workcreate-span2" data-name="sortUser" data-value="2" (click)="onFilter($event)">
                                мои
                            </span>
                        </li>
                    </ul>

                    <ul class="hidden ah-workcreate-list2 energy" data-name="energy">
                        <li>
                            <span class="ah-workcreate-span2 tultip-span1" data-name="color_type" data-value="1" (click)="onFilter($event)">
                                Повышение энергии
                                <div class="tultip">
                                    <p>приводит аудиторию в энергичное состояние</p>
                                </div>
                            </span>
                        </li>
                        <li>
                            <span class="ah-workcreate-span2 tultip-span2" data-name="color_type" data-value="2" (click)="onFilter($event)">
                                понижение
                                <div class="tultip">
                                    <p> приводит аудиторию в спокойное состояние</p>
                                </div>
                            </span>
                        </li>
                    </ul>


                    <ul class="hidden ah-workcreate-list2 step" data-name="step">
                        <li>
                            <span class="ah-workcreate-span2 tultip-span3" data-name="use_type" data-value="1" (click)="onFilter($event)">
                                 Начало
                                <div class="tultip">
                                    <p>Контакт с аудиторией, актуализация темы</p>
                                </div>
                            </span>
                        </li>
                        <li>
                            <span class="ah-workcreate-span2 tultip-span4" data-name="use_type" data-value="2" (click)="onFilter($event)">
                                Суть
                                <div class="tultip">
                                    <p>Основная часть занятия</p>
                                </div>
                            </span>
                        </li>
                        <li>
                            <span class="ah-workcreate-span2 tultip-span4" data-name="use_type" data-value="3" (click)="onFilter($event)">
                                Финал
                                <div class="tultip">
                                    <p>Рефлексия, обратная связь</p>
                                </div>
                            </span>
                        </li>
                    </ul>

                    <ul class="hidden ah-workcreate-list2 targetPupils" data-name="targetPupils">
                        <li *ngFor="let item of filter?.targetPupils;">
                            <span class="ah-workcreate-span2"
                                  data-name="targetPupils"
                                  attr.data-value="{{item?.id}}"
                                  (click)="onFilter($event)"
                            >
                                 {{item?.name}}
                                <div class="tultip">
                                    <p>рефлексия, обратная связь</p>
                                </div>
                            </span>
                        </li>
                    </ul>

                    <ul class="hidden ah-workcreate-list2 targetTeachers" data-name="targetTeachers">
                        <li *ngFor="let item of filter?.targetTeachers;">
                            <span class="ah-workcreate-span2"
                                  data-name="targetTeachers"
                                  attr.data-value="{{item?.id}}"
                                  (click)="onFilter($event)"
                            >
                                 {{item?.name}}
                            </span>
                        </li>
                    </ul>

                    <ul class="hidden ah-workcreate-list2 countPupils" data-name="countPupils">
                        <li>
                            <span class="ah-workcreate-span2"
                                  data-name="individual_type"
                                  data-value="1"
                                  (click)="onFilter($event)"
                            >
                                индвидуальные
                            </span>
                        </li>
                        <li>
                            <span class="ah-workcreate-span2"
                                  data-name="individual_type"
                                  data-value="2"
                                  (click)="onFilter($event)"
                            >
                                групповые
                            </span>
                        </li>
                    </ul>

                    <ul class="ah-workcreate-list3 hidden">
                        <li>
                            <span class="ah-workcreate-spanclose">
                                найдено
                                <span>
                                    {{filterCount}}
                                </span>
                                карточек
                            </span>
                        </li>
                        <li>
                            <span class="ah-workcreate-close" (click)="closeLevel($event)"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<div class="content work-create">
    <div class="cards" [dragula]='"first-bag"' [dragulaModel]='cards'>
        <div id="{{card.id}}"
             class="itemCard card item color{{card.color_type}}"
             *ngFor="let card of cards"
        >
            <div (click)="openView($event, card.id)" class="fix_height">
                <div class="name">
                    {{card.name}}
                    <span class="time">время: {{card.time}} мин.</span>
                </div>

                <ul class="ah-filterwrapp-list">
                    <li  [ngClass]="card.use_type.indexOf('Начало') != -1 ? 'ah-filtr-active' : ''" >
                        начало
                    </li>
                    <li [ngClass]="card.use_type.indexOf('Середина') != -1  ? 'ah-filtr-active' : ''">
                        суть
                    </li>
                    <li [ngClass]="card.use_type.indexOf('Конец') != -1 ? 'ah-filtr-active' : ''">
                        финал
                    </li>
                </ul>
                <span class="ah-filterwrapp-span">
									{{card.individual_type}}
								</span>

                <ul class="params">
                    <li *ngIf="card.targetTeachers">
                                                    Цели по Блуму:
                                                    <span *ngFor="let target of card.targetTeachers">
                                                        {{target.name}}
                                                    </span>
                    </li>
                    <li *ngIf="card.targetPupils">
                                                    Компетенции 4K:
                                                    <span *ngFor="let target of card.targetPupils">
                                                        {{target.name}}
                                                    </span>
                    </li>
                </ul>
                </div>


            <a class="bt" (click)="addDrop(card)">
                Применить
            </a>

            <a class="ah-filterwrapp-link2"
               [ngClass]="card?.cardUser?.id ? 'active' : ''"
               (click)="like($event, card)"></a>
        </div>
    </div>
</div>

<div class="bottom-timeline">
    <div class="bottom-timeline__status timeline-status" [style.width]="timeLine.length*22 + cardDrops.length*198+'px'">
        <div class="timeline-satus__box status-box" [style.width]="timeLine.length*22 + cardDrops.length*198+'px'">

            <div class="status-box__begin status-begin status-box__block" [style.width]="work.begin_count + '%'">
                <div class="status-begin__status status-status">
                    <span class="status-status__word tultip-img71  tultip-img7">
                        Начало

                       <div class="tultip">
                           <div class="service">
                               <span></span>
                                <p>контакт с аудиторией, актулизация темы</p>
                           </div>
                        </div>
                    </span>
                </div>

                <div class="separator resize" (mousedown)="resizeStart($event, 1)"></div>
            </div>

            <div class="status-box__heart status-heart status-box__block" [style.width]="work.center_count + '%'">
                <div class="status-heart__status status-status">
                    <span class="status-status__word tultip-img7">
                        Суть
                        <div class="tultip">
                            <div class="service">
                               	<span></span>
                                <p>основная часть занятия</p>
                            </div>
                        </div>
                    </span>
                </div>
                <div class="separator resize" (mousedown)="resizeStart($event, 2)"></div>
            </div>

            <div class="status-box__final status-final status-box__block" [style.width]="work.finish_count + '%'">

                <div class="status-final__status status status">
                    <span class="status-status__word tultip-img7 tultip-img71">
                        Финал
                        <div class="tultip">
                              <div class="service">
                               	<span></span>
                                <p>рефлексия, обратная связь</p>
                              </div>
                        </div>
                    </span>
                </div>
                <div class="separator"></div>
            </div>

        </div>
    </div>

    <div class="timeline__scale timelane-box">

        <ul class="timeline-box__scale timeline-scale">
            <li class="timeline-scale__item" *ngFor="let number of timeLine">
                {{number}}
            </li>
        </ul>
        <div class="timeline_becground-absolute"></div>
        <div class="timeline-box__progress timeline-progress">
            <div class="timeline-progress__container progress-container" [dragula]='"first-bag"' [dragulaModel]='cardDrops' >

                <div class="progress-container__block progress-block color{{cardDrop.color_type}}" *ngFor="let cardDrop of cardDrops">
                    <div class="progress-block__time">
                        {{cardDrop.workCardTime}} мин

                        <div class="progress-block__counter progress-counter">
                            <a
                                    class="progress-counter__btn progress-counter__btn-minus"
                                    (click)="minusTime($event, cardDrop)"
                            >
                                -
                            </a>
                            <input
                                    type="text"
                                    value="{{cardDrop.workCardTime}}"
                                    class="progress-counter__result"
                                    readonly
                                    [(ngModel)]="cardDrop.workCardTime"
                            />
                            <a onclick="plus()"
                               class="progress-counter__btn progress-counter__btn-plus"
                               (click)="addTime($event, cardDrop)"
                            >
                                +
                            </a>
                        </div>

                    </div>

                    <h3 class="progress-block__title" (click)="openView($event, cardDrop.id)">
                        <span>
                            {{cardDrop.name}}
                        </span>
                    </h3>

                    <div class="messageBlock hidden">
                        <div class="message" [ngClass]="cardDrop.message || cardDrop.is_editing ? '' : 'hidden'">
                            <div class="text">
                                <textarea (input)="inputMessage($event, cardDrop)" [(ngModel)]="cardDrop.message" (focusout)="focusOutMessage($event, cardDrop)">{{cardDrop.message}}</textarea>
                            </div>
                        </div>
                        <div class="messageAdd" [ngClass]="cardDrop.message || cardDrop.is_editing ? 'hidden' : ''" (click)="addMessage($event)" >
                            + Добавить заметку
                        </div>
                    </div>
                </div>

                <!--
                <div class="progress-container__block progress-dnd">
                    <h4 class="progress-dnd__title">
                        перетащите сюда
                    </h4>
                </div>
                -->
            </div>
        </div>

    </div>
</div>

<card-create></card-create>
<print-modal [work]="work"></print-modal>
<work-update [work]="work" [workId]="workId" [cardDrops]="cardDrops"></work-update>
<help-modal4></help-modal4>
<cards-view (enterViewModal)="enterViewModal($event)"></cards-view>

