<modal class="addClass autoH afterRegister" [animation]="animationsEnabled" #modal>
    <modal-body>
        <div class="ah-addClass11">
            <div class="close" (click)="close()"></div>

            <div class="ah-modal2-wrapper" data-slide="1">
            <p>
                Хотите узнавать о новостях Конструктора опыта?
            </p>
            <div *ngIf="done">
                <div class="erorrs" *ngFor="let error of errors">
                    {{error}}
                </div>
            </div>
            <form (ngSubmit)="onSubmit(user)">
                <div class="form-group name">
                    <input type="text" class="form-control"
                           name="User[email_subscribe]"
                           placeholder="Email"
                           [(ngModel)]="user.email_subscribe"
                    >
                </div>
                <div class="submit">
                    <input type="submit" value="Далее"/>
                </div>
            </form>
            </div>
            <div class="ah-modal2-wrapper hidden" data-slide="2">

                <p class="ah-modal2-text">
                    Спасибо! Мы будем рассказывать только самое интересное.
                    <a (click)="close()" class="ah-link">
                        ПОЕХАЛИ
                    </a>
                </p>


            </div>
        </div>
    </modal-body>
</modal>
