<modal class="helpModal helpModal1 ah-contbox" [animation]="animationsEnabled" #modal>
    <modal-body class="paidwin">
        <div class="close" (click)="close()"></div>
                    <span class="ah-modal2-title">
                        Ура! Оплата прошла успешно
                    </span>

            <a (click)="close()" class="ah-link ah-link-new">
                ПОЕХАЛИ
            </a>
    </modal-body>
</modal>
