<modal class="helpModal helpModal1 ah-contbox" [animation]="animationsEnabled" #modal>

    <modal-body class="paidwin">
        <div class="close" (click)="close()"></div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ah-modal2-wrapper">
	            	<span class="modal-center-head">
						Оплата
					</span>
                    <p class="ah-modal2-text">
                        Вы хотите оплатить месяц использования сервиса «Конструктор опыта». Он стоит 99 рублей.
                    </p>


                </div>
            </div>
        </div>

            <button (click)="orderCreate($event)" class="ah-link ah-link-new">
                Оплатить
            </button>
    </modal-body>
</modal>
