@font-face {
    font-family: 'MuseoSansCyrl-500';
    src: url("../fonts/MuseoSansCyrl-500.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl-700';
    src: url("../fonts/MuseoSansCyrl-700.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl-900';
    src: url("../fonts/MuseoSansCyrl-900.otf");
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: #ddd;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*41*/
.az-task-wrap {
    padding: 30px 30px 0;
    margin: 0 auto;
    width: 100%;
    height: 800px;
    background-color: #fff;
}


.az-subtitle {
    font-size: 10px;
    color: #a6a6a6;
    letter-spacing: 2px;
    font-family: 'MuseoSansCyrl-500';
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 9px;
}
h1 {
    font-family: 'MuseoSansCyrl-500';
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 1.5px;
    text-align: left;
    color: #404041;
    text-transform: uppercase;
    line-height: 30px;
}
hr {
    width: 100%;
    height: 1px;
    background-color: #cccccc;
}
table {
    width: 100%;
}

.az-beginner {
    margin-top: 50.5px;
}
.az-comment {
    width: 100%;
    height: 210px;
    overflow: hidden;
    line-height: 30px;
    font-size: 12px;
    color: #404041;
    font-weight: normal;
    letter-spacing: 0.2px;
    font-family: 'MuseoSansCyrl-500';
    background: -webkit-repeating-linear-gradient(top, transparent, transparent 29px, #cccccc 30px, transparent 30px);
    background: repeating-linear-gradient(to bottom, transparent, transparent 29px, #cccccc 30px, transparent 30px);
}
.az-time {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    background: url("/images/clock_icon2.png") no-repeat left center;
    background-size: contain;
    padding-left: 35px;
    font-size: 10px;
    color: #404041;
    letter-spacing: 2px;
    font-family: 'MuseoSansCyrl-500';
}
.az-margin-top60 {
    margin-top: 60px;
}

/*41*/
/*43*/

.az-sf-table {
    vertical-align: top;
    width: 100%;
    margin: 10px 0 0 0;

    font-family: 'MuseoSansCyrl-500';
    color: #404041;
    text-align: left;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
}


.az-row {
    vertical-align: top;
    width: 100%;
}
.az-sf-col-header {
    padding: 10px;
    width: 100%;
    height: 20px;
    line-height: 15px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 2px;
    font-size: 14px;
    font-family: 'MuseoSansCyrl-500';
    color: #404041;
    letter-spacing: 1.4px;
    margin: 0;
}

.az-sf-col-name {
    padding: 6px;
    height: 29px;
    overflow: hidden;
    font-size: 12px;
    width: 100%;
    line-height: 10px;
    text-transform: uppercase;
    font-family: 'MuseoSansCyrl-500';
    color: #ffffff;
    letter-spacing: 0.6px;
    background-color: #404041;
}

.az-sf-col-middle {
    width: 100%;
    height: 250px;
    border-radius: 2px;
    background-color: #f1f1f1;

    letter-spacing: 1.4px;
    color: #404041;
    text-transform: uppercase;

    font-size: 12px;
    font-family: 'MuseoSansCyrl-500';
    line-height: 14px;
}


.az-sf-col-footer {
    margin-top: 10px;
    padding: 4px 5px 0;
    height: 120px;
    position: relative;

    margin-bottom: 7px;
    font-size: 12px;
    color: #404041;
    font-family: 'MuseoSansCyrl-500';
    line-height: 8px;
    overflow: hidden;
}

