@font-face {
    font-family: 'MuseoSansCyrl-500';
    src: url('../fonts/MuseoSansCyrl-500.otf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl-700';
    src: url('../fonts/MuseoSansCyrl-700.otf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl-900';
    src: url('../fonts/MuseoSansCyrl-900.otf');
    font-style: normal;
    font-weight: normal;
}

body{
	background-color: #ddd;
}

*{
	margin: 0;
	padding: 0;
	border: 0;
}

/*41*/

.az-task-wrap{
	padding: 66px 60px 0;
	margin: 0 auto;
	width: 842px;
	height: 595px;
	background-color: #fff;
	box-sizing: border-box;
}

.az-header::after{
	content: ' ';
	display: table;
	clear: both;
}

.az-left{
	float: left;
}

.az-right{
	float: right;
}

.az-subtitle{
	font-size: 10px;
	color: #a6a6a6;
	letter-spacing: 2px;
	font-family: 'MuseoSansCyrl-500';
	font-style: normal;
	font-stretch: normal;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 9px;
}

h1{
	font-family: 'MuseoSansCyrl-500';
	font-size: 18px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.67;
	letter-spacing: 1.5px;
	text-align: left;
	color: #404041;
	text-transform: uppercase;
	line-height: 30px;
}

hr{
	width: 100%;
	height: 1px;
	background-color: #cccccc;
}

.az-beginner{
	margin-top: 50.5px;
}

.az-comment{
	width: 100%;
	height: 210px;
	overflow: hidden;
	line-height: 30px;
	font-size: 12px;
	color: #404041;
	font-weight: normal;
	letter-spacing: 0.2px;
	font-family: 'MuseoSansCyrl-500';
	background: repeating-linear-gradient(to bottom, transparent, transparent 29px, #cccccc 30px, transparent 30px); 
}

.az-time{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	background: url("../img/clock_icon copy 2.png") no-repeat left center;
	background-size: contain;
	padding-left: 35px;
	font-size: 10px;
	color: #404041;
	letter-spacing: 2px;
	font-family: 'MuseoSansCyrl-500';
}

.az-margin-top60{
	margin-top: 60px;
}

/*41*/

/*43*/

.az-task-wrap.style2{
	padding: 36px 40px 0;
}

.az-start-finish{
	margin-top: 27.5px;
}

.az-sf-table{
	height: 16px;
	border-collapse: collapse;
	width: 100%;
	td{
		font-family: 'MuseoSansCyrl-500';
		color: #404041;
		font-size: 10px;
		vertical-align: middle;
		text-align: left;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		padding-left: 6.5px;
		letter-spacing: 2px;
		text-transform: uppercase;
		// width: 66.66%
	}
	td:last-child{
		border-right: 0;
		width: 16.5%;
	}
	td:first-child{
		border-left: 0;
		padding-left: 0;
		width: 16.5%;
	}
}

.az-row::after{
	content: ' ';
	display: table;
	clear: both;
}
.az-col{
	width: calc((100% - 25px)/6);
	margin-right: 5px;
	float: left;
}
.az-col:last-child{
	margin-right: 0;
}

.az-sf-col-header{
	width: 100%;
	height: 15px;
	line-height: 15px;
	text-align: center;
	background-color: #f0f0f0;
	border-radius: 2px;
	font-size: 0;
	margin-top: 4.5px;
	span{
		font-size: 5px;
		font-family: 'MuseoSansCyrl-500';
		color: #404041;
		letter-spacing: 1.4px;
		vertical-align: middle;
	}
}

.az-sf-col-content{
	width: 100%;
	height: 250px;
	border-radius: 2px;
	background-color: #f1f1f1;
	overflow: hidden;
	margin-top: 5px;

}

.az-sf-col-title{
	padding: 5px 5px 4px;
	height: 29px;
	background-color: #404041;
	box-sizing: border-box;
	h2{
		width: 100%;
		line-height: 10px;
		text-transform: uppercase;
		font-family: 'MuseoSansCyrl-500';
		color: #ffffff;
		font-size: 7px;
		letter-spacing: 0.6px;
	}	
}

.az-sf-col-middle{
	padding: 6px 5px 0;
	h3{
		margin-bottom: 3px;
		font-size: 5px;
		letter-spacing: 1.4px;
		color: #404041;
		height: 6px;
		font-family: 'MuseoSansCyrl-700';
		text-transform: uppercase;
	}
	p{
		margin-bottom: 7px;
		font-size: 6px;
		color: #404041;
		font-family: 'MuseoSansCyrl-500';
		line-height: 8px;
	}
}

.az-sf-col-footer{
	margin-top: 10px;
	padding: 4px 5px 0;
	height: 120px;
	position: relative;
	p{
		margin-bottom: 7px;
		font-size: 6px;
		color: #404041;
		font-family: 'MuseoSansCyrl-500';
		line-height: 8px;
	}
}

.az-sf-col-footer.az-border-right::before{
	content: '';
	position: absolute;
	top: 0;
	right: -3px;
	width: 1px;
	height: 100%;
	background-color: #cccccc;
}

/*43*/

/*49*/

.az-500{
	width: 1280px;
	height: 650px;
	background-color: #2b9eed;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.az-nums{
	span{
		display: inline-block;
		position: absolute;
		font-size: 404px;
		color: #ef4949;
		font-family: 'MuseoSansCyrl-700';
		line-height: 404px;
		z-index: 1;
	}
	.az-num1{
		top: -53px;
		left: 43px;
	}
	.az-num2{
		bottom: -200px;
		left: 410px;
	}
	.az-num3{
		top: 110px;
		right: -56px;
	}
}

.az-message{
	position: relative;
	margin: 189px auto 0;
	width: 400px;
	text-align: center;
	h1{
		letter-spacing: 1.5px;
		text-align: center;
		color: #ffffff;
		height: 30px;
		line-height: 30px;
		font-family: 'MuseoSansCyrl-700';
		margin-bottom: 37px;
	}
	p{
		letter-spacing: 0.2px;
		text-align: center;
		color: #ffffff;
		font-size: 12px;
		line-height: 20px;
		margin-bottom: 44px;
		font-family: 'MuseoSansCyrl-500';
	}
}

.az-link-back{
	font-size: 0;
	a, a:focus{
		display: inline-block;
		width: 240px;
		height: 50px;
		border-radius: 2px;
		border: solid 1px #ffffff;
		transition: all 0.5s ease-in-out;
		color: #fff;
		line-height: 50px;
		font-family: 'MuseoSansCyrl-500';
		font-size: 12px;
		text-decoration: none;
		letter-spacing: 2.4px;
		text-transform: uppercase;
	}
	a:hover, a:active{
		background-color: #fff;
		color: #2b9eed;
		text-decoration: none;
	}
}

.az-mes-link{
	margin-top: 29px;
	position: relative;
	z-index: 3;
	font-size: 0;
	a, a:focus{
		display: inline-block;
		transition: all 0.5s ease-in-out;
		color: #fff;
		font-family: 'MuseoSansCyrl-500';
		font-size: 10px;
		text-decoration: none;
		letter-spacing: 2.4px;
		text-transform: uppercase;
		opacity: 0.5;
	}
	a:hover, a:active{
		text-decoration: none;
		opacity: 1;
	}
}

/*49*/

/*51*/

.az-logo{
	img{
		width: 196px;
		height: 140px;
	}
}

.az-recommend{
	width: 600px;
	height: 900px;
	background-color: #404041;
	text-align: center;
	margin: 0 auto;
	.az-rec-inner{
		width: 400px;
		margin: 0 auto;
	}
	h1{
		margin-top: 219px;
		letter-spacing: 1.5px;
		text-align: center;
		color: #ffffff;
		font-size: 18px;
		font-family: 'MuseoSansCyrl-500';
		margin-bottom: 42px;
		line-height: 30px;
	}
}

.az-link{
	margin-bottom: 18px;
	font-size: 0;
	a, a:focus{
		display: inline-block;
		transition: all 0.5s ease-in-out;
		color: #fff;
		font-family: 'MuseoSansCyrl-500';
		font-size: 10px;
		text-decoration: none;
		letter-spacing: 2.4px;
		text-transform: uppercase;
		opacity: 0.5;
	}
	a:hover, a:active{
		text-decoration: none;
		opacity: 1;
	}
}

/*51*/